Czy jesteśmy w stanie przewidzieć czy samolot będzie opóźniony?

Praca opracowywana przez Szyona Wieckiego, Karola Koptraskiego i Mateusz Hetko

# IMPORTS

In [22]:
# from google.colab import drive
# drive.mount('/content/gdriv')

In [23]:
# !pip install imblearn
# !pip install scikit-learn
#!pip install requests
# !pip install pandas
# !pip install matplotlib
# !pip install seaborn
# !pip install numpy
# !pip install tensorflow
# !pip install keras

In [24]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import re

In [25]:
# <ipython-input-354-4c40799db55d>:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
#   flight = pd.read_csv('flights.csv')
# RangeIndex(start=0, stop=5819079, step=1)

df_flights = pd.read_csv(r'C:\Users\hetko\Desktop\jupyter\flight_data\flights.csv', dtype={'ORIGIN_AIRPORT': str, 'DESTINATION_AIRPORT': str})
#df_flight = flight.loc[:10000]
df_flights.index

RangeIndex(start=0, stop=5819079, step=1)

In [26]:
airport = pd.read_csv(r'C:\Users\hetko\Desktop\jupyter\flight_data\airports.csv')
df_airports = airport[:]
df_airports.index

RangeIndex(start=0, stop=322, step=1)

In [27]:
airline = pd.read_csvairline = pd.read_csv(r'C:\Users\hetko\Desktop\jupyter\flight_data\airlines.csv')
df_airlines = airline[:]
df_airlines.index

RangeIndex(start=0, stop=14, step=1)

# FUNCTION

In [28]:
# return unique value from column
def unique(name):
  return df_flights[name].unique()

def nan_dominante(name):
  return df_flights[name].fillna(df_flights[name].value_counts().idxmax(), inplace=True)

def nan_mediane(name):
  return df_flights[name].fillna(df_flights[name].median(), inplace=True)

def nan_avg(name):
  return df_flights[name].fillna(int(df_flights[name].mean()), inplace=True)

In [29]:
#funkcja sprawdzająca, czy w danej kolumnie występują liczby mające po przecinku cyfrę inną niż 0 
def float_check(name):
  arr = df_flights[name].unique()
  check = np.any(arr % 1 != 0)
  return print(check)

In [30]:
# convert value to int
def type_int(name):
  df_flights[name] = df_flights[name].astype(int)

In [31]:
# delet column by name
def del_column(name):
   return df_flights.drop([name], axis=1)

In [32]:
# draw plot with user params
def draw_plot(df,x, y, fig_w, fig_h):
  fig, ax = plt.subplots(figsize=(fig_w, fig_h)) 

  ax.plot(x, df[y], marker='o', linestyle='None', color='g')


  ax.set_xlabel('Date')
  ax.set_ylabel('Minutes')
  ax.set_title(y)

  ax.xaxis.set_tick_params(rotation=45)


  plt.tight_layout()  

  plt.show()

In [33]:
def nan_per(first, second):
  sum = first + second
  return (first / sum) * 100

In [34]:
def sum_my_column(df, data_column, column_name, w, h):
  data_value = df[data_column] # get value from data column
  info = df[column_name].info()#.describe() # make full describe of value in column
  describe = df[column_name].describe()
  first = count_nan_in_column(df, column_name) # value of count nan in column
  second = df[column_name].count() # value of count not nan in column
  perc = nan_per(first, second) # percent of nan value in column
  plot = draw_plot(df, data_value, column_name, w, h) # draw a plot
  #uniq = set(df[column_name])
  return perc, describe, first, #uniq

In [35]:
def delate_outlayers(df, column, low, up):
  lower = df[column].quantile(low)
  upper = df[column].quantile(up)
  df[column] = np.where(df[column] < lower, lower, df[column])
  df[column] = np.where(df[column] > upper, upper, df[column])
  return df[column]

In [36]:
def descript_lenght(df, column):
    skew = df[column].skew()# wartość skośna
    lenght = df.index # lenght of my column
    return skew, lenght

In [37]:
def key_by_value(df,value):
  return [i for i in df if df[i]==value]

In [38]:
def count_nan_in_column(df, column):
  return df[column].isna().sum()

In [39]:
def convert_to_time(frame_with_column):
    data_list = []
    for i, number in enumerate(frame_with_column):
      number = str(number)      
      res = re.sub(r'(\d{2})(?=\d)', r'\1,', str(number)[::-1])[::-1] # cast to string
      coma = res.replace(',', ':')
      normal = coma.replace('24:00', '00:00')
      data_list.append(normal)
    return data_list

In [40]:
def convert_time_before_1_AM(frame_with_column):
  data_list = []
  for i, number in enumerate(frame_with_column):
    number = str(number)
    number = ':'.join(['00', number])
    res = re.sub(r'(\d{2})(?=\d)', r'\1,', str(number)[::-1])[::-1] # cast to string
    coma = res.replace(',', ':')
    data_list.append(coma)
  return data_list

In [41]:
def separate_time(df, name_of_column, how, value):
  return df.query(f'{name_of_column} {how} {value}')

In [42]:
def replace_time(time):
    return time.replace('24:00', '00:00')

# Getting to know data

Dane na podstawie ktorych mozna zbudowac kategorie spozniony lub nie:

SCHEDULED_DEPARTURE

WHEELS_ON

ARRIVAL_TIME

ARRIVAL_DELAY

##Description

YEAR - rok wylotu

MONTH - miesiąc wylotu

DAY - dzień wylotu

DAY_OF_WEEK - nazwa dnia tygodnia 

AIRLINE - nazwa przynależności linii lotniczej podawana w formacie 2 literowego skrótu (set(df_flights['AIRLINE']))

FLIGHT_NUMBER - numer lotu

TAIL_NUMBER - Numer ogonowy to kod alfanumeryczny składający się z dwóch do sześciu znaków, używany do identyfikacji konkretnego statku powietrznego. 
Przedrostek alfabetyczny numeru ogonowego wskazuje kraj pochodzenia samolotu. Wszystkie amerykańskie numery ogonowe zaczynają się od „N”, kanadyjskie samoloty zaczynają się od „C”, niemieckie od „D” i tak dalej.

ORIGIN_AIRPORT - miejsce/lotnisko wylotu, podawane w foramcie 3 liter (set(df_flights['ORIGIN_AIRPORT']))

DESTINATION_AIRPORT - miejsce/lotnisko lądowania, destynacja samolotu (tak samo jak origin)

SCHEDULED_DEPARTURE - pierwotna data planowanego wylotu

DEPARTURE_TIME - godzina wylotu (podawana w formacie liczby minut np. 1111.1: set(df_flights['DEPARTURE_TIME']))

DEPARTURE_DELAY - podawana w formacie opoznienia w minutach (123.0 i duzo sensownych NaN: set(df_flights['DEPARTURE_DELAY'])

TAXI_OUT - średni czas oczekiwania w kolejce na pas startowy w ruchu wychodzącym w okresach zatoru na lotniskach (podawany w formacie liczby minut  np. 11.1, set(df_flights['TAXI_OUT']) )

WHEELS_OFF - oznacza czas planowanego odlotu z lotniska początkowego (duzo Nanów, format 1459.0)

SCHEDULED_TIME - oznacza czas jaki planujemy, że zajmie nam lot (???)

ELAPSED_TIME - oznacza czas jaki zajal lot (???)

AIR_TIME - czas jaki spedzil samolot w powietrzu (???)

DISTANCE - pokonany dystans

WHEELS_ON - oznacza czas planowanego przylotu do miejsca docelowego (duzo Nanów, format 1459.0)

TAXI_IN

SCHEDULED_ARRIVAL - rozkladowy czas przylotu

ARRIVAL_TIME - czas przylotu

ARRIVAL_DELAY - liczba minut rowna spoznieniu przylotu

DIVERTED - lot zawrócony (wartosc 0 i 1)

CANCELLED - lot anulowany (wartość 0 i 1) 

CANCELLATION_REASON - powod anulowania lotu ( wartosc A, B, C, D i NaN)

AIR_SYSTEM_DELAY - czas opoznienia spowodowany problemami wynikajace nie z lotniska 

SECURITY_DELAY - Opóźnienie związane z bezpieczeństwem jest spowodowane ewakuacją terminalu lub hali, ponownym wejściem na pokład samolotu z powodu naruszenia bezpieczeństwa, niedziałającym sprzętem do kontroli bezpieczeństwa i/lub długimi kolejkami przekraczającymi 29 minut w strefach kontroli bezpieczeństwa.

AIRLINE_DELAY - czas opoznienia z linii lotniczej

LATE_AIRCRAFT_DELAY - opoznienie oglaszane w ostatnim momencie

WEATHER_DELAY - czas opoznienia wynikajacy z warunkow pogodwych

AIRLINE_DELAY = minuty

LATE_AIRCRAFT_DELAY = minuty

WEATHER_DELAY = minuty

SECURITY_DELAY = minuty

AIR_SYSTEM_DELAY = minuty

ARRIVAL_DELAY = minuty

ARRIVAL_TIME = godziny

SCHEDULED_ARRIVAL = godziny

TAXI_IN = minuty

WHEELS_ON = godziny

AIR_TIME = minuty

ELAPSED_TIME = minuty

SCHEDULED_TIME = minuty

WHEELS_OFF = godziny

TAXI_OUT = minuty

DEPARTURE_DELAY = minuty

DEPARTURE_TIME = godzina (brak nanow)

SCHEDULED_DEPARTURE = godzina (brak nanow)

SCHEDULED_TIME = minuty

### What to do

<!-- airline na hotone,

usunac flight_number, tail_number

reason na 0 i onehot pozniej

schedul_time = srednia

dodac kolumne z cala data -->

Potencjalne dane do wyrzucenia w celu poprawy dzialania systemu: DAY_OF_WEEK, TAXI IN, DIVERTED, SECURITY_DELAY

zastanowic sie nad outlayerami


odjac jedno od drugiego wyciagnac minuty i dodac tabele na wheels_on i wheel_off oraz na arrival_time i scheduled_arrival

tabele polaczyc i zaminc dane ze skrotow na liczby

zeby nie utracic danych trzeba zrobic query na nany i dodac je do nowego dataframe

dane z godzinami powinny znalezc sie nad minutami, bo wyczyscilem nany i latwiej analizowac reszte danych

sprawdzic roznice w czasie miedzy kazda kategoria godzinowa i na jej podstawie wyznaczyc target i nowe kolumny z danymi o roznicach w czasie, target nie moze miec wypisanej roznicy, bo to problem regresji liniowej wtedy

AIRLINE  
ORIGIN_AIRPORT                        
DESTINATION_AIRPORT

do usuniecia 

wheels on 

wheels off

mamy air_time, a tutaj tracimy 4% danych na rzecz niepotrzebnej informacji

## Flights

### BESIC KNOWLADGE

In [43]:
df_flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
df_flights.tail()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
5819074,2015,12,31,4,B6,688,N657JB,LAX,BOS,2359,...,753.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819075,2015,12,31,4,B6,745,N828JB,JFK,PSE,2359,...,430.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819076,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,...,432.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819077,2015,12,31,4,B6,333,N527JB,MCO,SJU,2359,...,330.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819078,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,...,442.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
df_flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   FLIGHT_NUMBER        int64
 6   TAIL_NUMBER          object
 7   ORIGIN_AIRPORT       object
 8   DESTINATION_AIRPORT  object
 9   SCHEDULED_DEPARTURE  int64
 10  DEPARTURE_TIME       float64
 11  DEPARTURE_DELAY      float64
 12  TAXI_OUT             float64
 13  WHEELS_OFF           float64
 14  SCHEDULED_TIME       float64
 15  ELAPSED_TIME         float64
 16  AIR_TIME             float64
 17  DISTANCE             int64
 18  WHEELS_ON            float64
 19  TAXI_IN              float64
 20  SCHEDULED_ARRIVAL    int64
 21  ARRIVAL_TIME         float64
 22  ARRIVAL_DELAY        float64
 23  DIVERTED             int64
 24  CANCELLED            int64
 25  CANCELLATION_REASON  object
 26  AIR_SYSTEM_DELAY     float64
 27  SECURITY_DELAY       float64
 28  AIRLINE_DELAY        float64
 29  LATE_AIRCRAFT_DELAY  float64
 30  WEATHER_DELAY        float64
dtypes: float64(16), int64(10), object(5)
memory usage: 1.3+ GB

In [46]:
df_flights.describe()

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,...,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
count,5819079.0,5.819079e+06,5.819079e+06,5.819079e+06,5.819079e+06,5.819079e+06,5.732926e+06,5.732926e+06,5.730032e+06,5.730032e+06,...,5.819079e+06,5.726566e+06,5.714008e+06,5.819079e+06,5.819079e+06,1.063439e+06,1.063439e+06,1.063439e+06,1.063439e+06,1.063439e+06
mean,2015.0,6.524085e+00,1.570459e+01,3.926941e+00,2.173093e+03,1.329602e+03,1.335204e+03,9.370158e+00,1.607166e+01,1.357171e+03,...,1.493808e+03,1.476491e+03,4.407057e+00,2.609863e-03,1.544643e-02,1.348057e+01,7.615387e-02,1.896955e+01,2.347284e+01,2.915290e+00
std,0.0,3.405137e+00,8.783425e+00,1.988845e+00,1.757064e+03,4.837518e+02,4.964233e+02,3.708094e+01,8.895574e+00,4.980094e+02,...,5.071647e+02,5.263197e+02,3.927130e+01,5.102012e-02,1.233201e-01,2.800368e+01,2.143460e+00,4.816164e+01,4.319702e+01,2.043334e+01
min,2015.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-8.200000e+01,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,-8.700000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2015.0,4.000000e+00,8.000000e+00,2.000000e+00,7.300000e+02,9.170000e+02,9.210000e+02,-5.000000e+00,1.100000e+01,9.350000e+02,...,1.110000e+03,1.059000e+03,-1.300000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2015.0,7.000000e+00,1.600000e+01,4.000000e+00,1.690000e+03,1.325000e+03,1.330000e+03,-2.000000e+00,1.400000e+01,1.343000e+03,...,1.520000e+03,1.512000e+03,-5.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,2.000000e+00,3.000000e+00,0.000000e+00
75%,2015.0,9.000000e+00,2.300000e+01,6.000000e+00,3.230000e+03,1.730000e+03,1.740000e+03,7.000000e+00,1.900000e+01,1.754000e+03,...,1.918000e+03,1.917000e+03,8.000000e+00,0.000000e+00,0.000000e+00,1.800000e+01,0.000000e+00,1.900000e+01,2.900000e+01,0.000000e+00
max,2015.0,1.200000e+01,3.100000e+01,7.000000e+00,9.855000e+03,2.359000e+03,2.400000e+03,1.988000e+03,2.250000e+02,2.400000e+03,...,2.400000e+03,2.400000e+03,1.971000e+03,1.000000e+00,1.000000e+00,1.134000e+03,5.730000e+02,1.971000e+03,1.331000e+03,1.211000e+03

In [47]:
df_flights.index

RangeIndex(start=0, stop=5819079, step=1)

In [48]:
df_flights.count()

YEAR                   5819079
MONTH                  5819079
DAY                    5819079
DAY_OF_WEEK            5819079
AIRLINE                5819079
FLIGHT_NUMBER          5819079
TAIL_NUMBER            5804358
ORIGIN_AIRPORT         5819079
DESTINATION_AIRPORT    5819079
SCHEDULED_DEPARTURE    5819079
DEPARTURE_TIME         5732926
DEPARTURE_DELAY        5732926
TAXI_OUT               5730032
WHEELS_OFF             5730032
SCHEDULED_TIME         5819073
ELAPSED_TIME           5714008
AIR_TIME               5714008
DISTANCE               5819079
WHEELS_ON              5726566
TAXI_IN                5726566
SCHEDULED_ARRIVAL      5819079
ARRIVAL_TIME           5726566
ARRIVAL_DELAY          5714008
DIVERTED               5819079
CANCELLED              5819079
CANCELLATION_REASON      89884
AIR_SYSTEM_DELAY       1063439
SECURITY_DELAY         1063439
AIRLINE_DELAY          1063439
LATE_AIRCRAFT_DELAY    1063439
WEATHER_DELAY          1063439
dtype: int64

In [49]:
for col in df_flights.columns:
    print(col)

YEAR
MONTH
DAY
DAY_OF_WEEK
AIRLINE
FLIGHT_NUMBER
TAIL_NUMBER
ORIGIN_AIRPORT
DESTINATION_AIRPORT
SCHEDULED_DEPARTURE
DEPARTURE_TIME
DEPARTURE_DELAY
TAXI_OUT
WHEELS_OFF
SCHEDULED_TIME
ELAPSED_TIME
AIR_TIME
DISTANCE
WHEELS_ON
TAXI_IN
SCHEDULED_ARRIVAL
ARRIVAL_TIME
ARRIVAL_DELAY
DIVERTED
CANCELLED
CANCELLATION_REASON
AIR_SYSTEM_DELAY
SECURITY_DELAY
AIRLINE_DELAY
LATE_AIRCRAFT_DELAY
WEATHER_DELAY

In [50]:
set(df_flights['DAY_OF_WEEK'])

{1, 2, 3, 4, 5, 6, 7}

### DELAY COLUMNS

In [51]:
column_dict = {
'AIRLINE_DELAY':1,

'LATE_AIRCRAFT_DELAY':1,

'WEATHER_DELAY':1,

'SECURITY_DELAY':1,

'AIR_SYSTEM_DELAY':1,

'ARRIVAL_DELAY':1,

'ARRIVAL_TIME':0,

'SCHEDULED_ARRIVAL':0,

'TAXI_IN':1,

'WHEELS_ON':0,

'AIR_TIME':1,

'ELAPSED_TIME':1,

'SCHEDULED_TIME':1,

'WHEELS_OFF':0,

'TAXI_OUT':1,

'DEPARTURE_DELAY':1

}

In [52]:
df_flights.isna().sum()

YEAR                         0
MONTH                        0
DAY                          0
DAY_OF_WEEK                  0
AIRLINE                      0
FLIGHT_NUMBER                0
TAIL_NUMBER              14721
ORIGIN_AIRPORT               0
DESTINATION_AIRPORT          0
SCHEDULED_DEPARTURE          0
DEPARTURE_TIME           86153
DEPARTURE_DELAY          86153
TAXI_OUT                 89047
WHEELS_OFF               89047
SCHEDULED_TIME               6
ELAPSED_TIME            105071
AIR_TIME                105071
DISTANCE                     0
WHEELS_ON                92513
TAXI_IN                  92513
SCHEDULED_ARRIVAL            0
ARRIVAL_TIME             92513
ARRIVAL_DELAY           105071
DIVERTED                     0
CANCELLED                    0
CANCELLATION_REASON    5729195
AIR_SYSTEM_DELAY       4755640
SECURITY_DELAY         4755640
AIRLINE_DELAY          4755640
LATE_AIRCRAFT_DELAY    4755640
WEATHER_DELAY          4755640
dtype: int64

In [53]:
key_by_value(column_dict, 1)

['AIRLINE_DELAY',
 'LATE_AIRCRAFT_DELAY',
 'WEATHER_DELAY',
 'SECURITY_DELAY',
 'AIR_SYSTEM_DELAY',
 'ARRIVAL_DELAY',
 'TAXI_IN',
 'AIR_TIME',
 'ELAPSED_TIME',
 'SCHEDULED_TIME',
 'TAXI_OUT',
 'DEPARTURE_DELAY']

In [54]:
#def key_by_index(df,index):
#  return list(df.keys())[list(df.values()).index(index)]

In [55]:
print(count_nan_in_column(df_flights, key_by_value(column_dict, 1)))

AIRLINE_DELAY          4755640
LATE_AIRCRAFT_DELAY    4755640
WEATHER_DELAY          4755640
SECURITY_DELAY         4755640
AIR_SYSTEM_DELAY       4755640
ARRIVAL_DELAY           105071
TAXI_IN                  92513
AIR_TIME                105071
ELAPSED_TIME            105071
SCHEDULED_TIME               6
TAXI_OUT                 89047
DEPARTURE_DELAY          86153
dtype: int64

### HEATMAP

In [56]:
# corr = round(df_flights.corr(),3)

In [57]:
# corr.mean()

In [58]:
# sns.set(rc={'figure.figsize':(20,15)})
# sns.heatmap(corr, linewidths=0.5, annot=True, vmin=0.05)

Potencjalne dane do wyrzucenia w celu poprawy dzialania systemu: DAY_OF_WEEK, TAXI IN, DIVERTED, SECURITY_DELAY

In [59]:
# sns.set(rc={'figure.figsize':(16,12)})
# sns.heatmap(corr, linewidths=0.5, annot=True, vmin=-1.0, vmax=0.0)

## Airlines

In [60]:
df_airlines.head()

  IATA_CODE                 AIRLINE
0        UA   United Air Lines Inc.
1        AA  American Airlines Inc.
2        US         US Airways Inc.
3        F9  Frontier Airlines Inc.
4        B6         JetBlue Airways

In [61]:
df_airlines.tail()

   IATA_CODE                       AIRLINE
9         DL          Delta Air Lines Inc.
10        EV   Atlantic Southeast Airlines
11        HA        Hawaiian Airlines Inc.
12        MQ  American Eagle Airlines Inc.
13        VX                Virgin America

In [62]:
df_airlines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   IATA_CODE  14 non-null     object
 1   AIRLINE    14 non-null     object
dtypes: object(2)
memory usage: 356.0+ bytes

In [63]:
df_airlines.describe()

       IATA_CODE                AIRLINE
count         14                     14
unique        14                     14
top           UA  United Air Lines Inc.
freq           1                      1

## Airports

In [64]:
df_airports.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [65]:
df_airports.tail()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
317,WRG,Wrangell Airport,Wrangell,AK,USA,56.48433,-132.36982
318,WYS,Westerly State Airport,West Yellowstone,MT,USA,44.68840,-111.11764
319,XNA,Northwest Arkansas Regional Airport,Fayetteville/Springdale/Rogers,AR,USA,36.28187,-94.30681
320,YAK,Yakutat Airport,Yakutat,AK,USA,59.50336,-139.66023
321,YUM,Yuma International Airport,Yuma,AZ,USA,32.65658,-114.60597

In [66]:
df_airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   IATA_CODE  322 non-null    object
 1   AIRPORT    322 non-null    object
 2   CITY       322 non-null    object
 3   STATE      322 non-null    object
 4   COUNTRY    322 non-null    object
 5   LATITUDE   319 non-null    float64
 6   LONGITUDE  319 non-null    float64
dtypes: float64(2), object(5)
memory usage: 17.7+ KB

In [67]:
df_airports.describe()

         LATITUDE   LONGITUDE
count  319.000000  319.000000
mean    38.981244  -98.378964
std      8.616736   21.523492
min     13.483450 -176.646030
25%     33.652040 -110.839385
50%     39.297610  -93.403070
75%     43.154675  -82.722995
max     71.285450  -64.798560

# DATA ENGENERING

## Flights tabel

## GENERAL

In [68]:
df_flights = df_flights.dropna(how='all')

In [69]:
df_flights.index

RangeIndex(start=0, stop=5819079, step=1)

In [70]:
df_flights = del_column('FLIGHT_NUMBER')

In [71]:
df_flights = del_column('TAIL_NUMBER')

### ADDING DATA COLUMN

In [72]:
# df_flights['DAY'] = df_flights['DAY'].astype(str)
# df_flights['MONTH'] = df_flights['MONTH'].astype(str)
# df_flights['YEAR'] = df_flights['YEAR'].astype(str)

In [73]:
#df_flights["FULL_DATA"] = df_flights[['DAY', 'MONTH', 'YEAR']].agg('-'.join, axis=1)

In [74]:
df_flights["FULL_DATA"] = df_flights["DAY"].map(str) + "-" + df_flights["MONTH"].map(str) + "-" + df_flights['YEAR'].map(str)

In [75]:
#df_flights['FULL_DATA'] = pd.to_datetime(df_flights.FULL_DATA, format="%d-%m-%Y")

In [76]:
#df_flights['FULL_DATA'].type()

### CANCELLATION_REASON

In [77]:
unique('CANCELLATION_REASON')

array([nan, 'A', 'B', 'C', 'D'], dtype=object)

In [78]:
df_flights.index

RangeIndex(start=0, stop=5819079, step=1)

In [79]:
count_nan_in_column(df_flights, 'CANCELLATION_REASON')

5729195

In [80]:
y = pd.get_dummies(df_flights.CANCELLATION_REASON, prefix='Option')
print(y.head())

   Option_A  Option_B  Option_C  Option_D
0     False     False     False     False
1     False     False     False     False
2     False     False     False     False
3     False     False     False     False
4     False     False     False     False

In [81]:
df_flights = pd.concat([df_flights, y], axis=1)

In [82]:
count_nan_in_column(df_flights, 'Option_A')

0

In [83]:
df_flights = df_flights.drop(['CANCELLATION_REASON'], axis=1)

In [84]:
df_flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 33 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   ORIGIN_AIRPORT       object
 6   DESTINATION_AIRPORT  object
 7   SCHEDULED_DEPARTURE  int64
 8   DEPARTURE_TIME       float64
 9   DEPARTURE_DELAY      float64
 10  TAXI_OUT             float64
 11  WHEELS_OFF           float64
 12  SCHEDULED_TIME       float64
 13  ELAPSED_TIME         float64
 14  AIR_TIME             float64
 15  DISTANCE             int64
 16  WHEELS_ON            float64
 17  TAXI_IN              float64
 18  SCHEDULED_ARRIVAL    int64
 19  ARRIVAL_TIME         float64
 20  ARRIVAL_DELAY        float64
 21  DIVERTED             int64
 22  CANCELLED            int64
 23  AIR_SYSTEM_DELAY     float64
 24  SECURITY_DELAY       float64
 25  AIRLINE_DELAY        float64
 26  LATE_AIRCRAFT_DELAY  float64
 27  WEATHER_DELAY        float64
 28  FULL_DATA            object
 29  Option_A             bool
 30  Option_B             bool
 31  Option_C             bool
 32  Option_D             bool
dtypes: bool(4), float64(16), int64(9), object(4)
memory usage: 1.3+ GB

### DISTANCE

Mimo, że w jakiś wartościach z kropka znaujda sie wartosci inne niz 0 to przy odleglosciach liczonych w kilommetrach, metry nie maja znaczenia

In [85]:
df_flights['DISTANCE'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 5819079 entries, 0 to 5819078
Series name: DISTANCE
Non-Null Count    Dtype
--------------    -----
5819079 non-null  int64
dtypes: int64(1)
memory usage: 44.4 MB

In [86]:
df_flights['DISTANCE'].head()

0    1448
1    2330
2    2296
3    2342
4    1448
Name: DISTANCE, dtype: int64

In [87]:
max(df_flights['DISTANCE'])

4983

In [88]:
min(df_flights['DISTANCE'])

21

In [89]:
float_check('DISTANCE')

False

In [90]:
df_flights['DISTANCE'] = df_flights['DISTANCE'].astype(int)

In [91]:
df_flights['DISTANCE']

0          1448
1          2330
2          2296
3          2342
4          1448
           ...
5819074    2611
5819075    1617
5819076    1598
5819077    1189
5819078    1576
Name: DISTANCE, Length: 5819079, dtype: int32

### DIVERTED

In [92]:
df_flights['DIVERTED'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 5819079 entries, 0 to 5819078
Series name: DIVERTED
Non-Null Count    Dtype
--------------    -----
5819079 non-null  int64
dtypes: int64(1)
memory usage: 44.4 MB

In [93]:
df_flights['DIVERTED'].head()

0    0
1    0
2    0
3    0
4    0
Name: DIVERTED, dtype: int64

In [94]:
unique('DIVERTED')

array([0, 1], dtype=int64)

In [95]:
df_flights['DIVERTED'] = df_flights['DIVERTED'].astype(int)

In [96]:
df_flights['DIVERTED']

0          0
1          0
2          0
3          0
4          0
          ..
5819074    0
5819075    0
5819076    0
5819077    0
5819078    0
Name: DIVERTED, Length: 5819079, dtype: int32

### CANCELED

In [97]:
df_flights['CANCELLED'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 5819079 entries, 0 to 5819078
Series name: CANCELLED
Non-Null Count    Dtype
--------------    -----
5819079 non-null  int64
dtypes: int64(1)
memory usage: 44.4 MB

In [98]:
unique('CANCELLED')

array([0, 1], dtype=int64)

In [99]:
df_flights['CANCELLED'] = df_flights['CANCELLED'].astype(int)

In [100]:
df_flights['CANCELLED']

0          0
1          0
2          0
3          0
4          0
          ..
5819074    0
5819075    0
5819076    0
5819077    0
5819078    0
Name: CANCELLED, Length: 5819079, dtype: int32

## AIRPORTS AND AIRLINE

### AIRLINE

In [101]:
df_flights['AIRLINE']

0          AS
1          AA
2          US
3          AA
4          AS
           ..
5819074    B6
5819075    B6
5819076    B6
5819077    B6
5819078    B6
Name: AIRLINE, Length: 5819079, dtype: object

In [102]:
df_airlines

   IATA_CODE                       AIRLINE
0         UA         United Air Lines Inc.
1         AA        American Airlines Inc.
2         US               US Airways Inc.
3         F9        Frontier Airlines Inc.
4         B6               JetBlue Airways
5         OO         Skywest Airlines Inc.
6         AS          Alaska Airlines Inc.
7         NK              Spirit Air Lines
8         WN        Southwest Airlines Co.
9         DL          Delta Air Lines Inc.
10        EV   Atlantic Southeast Airlines
11        HA        Hawaiian Airlines Inc.
12        MQ  American Eagle Airlines Inc.
13        VX                Virgin America

In [103]:
count_nan_in_column(df_flights, 'AIRLINE')

0

In [104]:
y = pd.get_dummies(df_flights.AIRLINE, prefix='Airlines')
print(y.head())

   Airlines_AA  Airlines_AS  Airlines_B6  Airlines_DL  Airlines_EV
0        False         True        False        False        False  \
1         True        False        False        False        False
2        False        False        False        False        False
3         True        False        False        False        False
4        False         True        False        False        False

   Airlines_F9  Airlines_HA  Airlines_MQ  Airlines_NK  Airlines_OO
0        False        False        False        False        False  \
1        False        False        False        False        False
2        False        False        False        False        False
3        False        False        False        False        False
4        False        False        False        False        False

   Airlines_UA  Airlines_US  Airlines_VX  Airlines_WN
0        False        False        False        False
1        False        False        False        False
2        False         True        False        False
3        False        False        False        False
4        False        False        False        False

In [105]:
df_flights = pd.concat([df_flights, y], axis=1)

In [106]:
count_nan_in_column(df_flights, 'Airlines_AA')

0

In [107]:
df_flights = df_flights.drop(['AIRLINE'], axis=1)

In [108]:
df_flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 46 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   ORIGIN_AIRPORT       object
 5   DESTINATION_AIRPORT  object
 6   SCHEDULED_DEPARTURE  int64
 7   DEPARTURE_TIME       float64
 8   DEPARTURE_DELAY      float64
 9   TAXI_OUT             float64
 10  WHEELS_OFF           float64
 11  SCHEDULED_TIME       float64
 12  ELAPSED_TIME         float64
 13  AIR_TIME             float64
 14  DISTANCE             int32
 15  WHEELS_ON            float64
 16  TAXI_IN              float64
 17  SCHEDULED_ARRIVAL    int64
 18  ARRIVAL_TIME         float64
 19  ARRIVAL_DELAY        float64
 20  DIVERTED             int32
 21  CANCELLED            int32
 22  AIR_SYSTEM_DELAY     float64
 23  SECURITY_DELAY       float64
 24  AIRLINE_DELAY        float64
 25  LATE_AIRCRAFT_DELAY  float64
 26  WEATHER_DELAY        float64
 27  FULL_DATA            object
 28  Option_A             bool
 29  Option_B             bool
 30  Option_C             bool
 31  Option_D             bool
 32  Airlines_AA          bool
 33  Airlines_AS          bool
 34  Airlines_B6          bool
 35  Airlines_DL          bool
 36  Airlines_EV          bool
 37  Airlines_F9          bool
 38  Airlines_HA          bool
 39  Airlines_MQ          bool
 40  Airlines_NK          bool
 41  Airlines_OO          bool
 42  Airlines_UA          bool
 43  Airlines_US          bool
 44  Airlines_VX          bool
 45  Airlines_WN          bool
dtypes: bool(18), float64(16), int32(3), int64(6), object(3)
memory usage: 1.2+ GB

### AIRPORTS

#### ORIGIN_AIRPORT

In [109]:
df_flights['ORIGIN_AIRPORT']

0          ANC
1          LAX
2          SFO
3          LAX
4          SEA
          ...
5819074    LAX
5819075    JFK
5819076    JFK
5819077    MCO
5819078    JFK
Name: ORIGIN_AIRPORT, Length: 5819079, dtype: object

In [110]:
count_nan_in_column(df_flights, 'ORIGIN_AIRPORT')

0

In [111]:
unique('ORIGIN_AIRPORT')

array(['ANC', 'LAX', 'SFO', 'SEA', 'LAS', 'DEN', 'SLC', 'PDX', 'FAI',
       'MSP', 'PHX', 'SJU', 'PBG', 'IAG', 'PSE', 'BQN', 'ORD', 'GEG',
       'HNL', 'ONT', 'MCO', 'BOS', 'HIB', 'ABR', 'MAF', 'DFW', 'MKE',
       'IAH', 'BNA', 'BRO', 'VPS', 'BOI', 'BJI', 'SGF', 'PHL', 'SBN',
       'RDD', 'EUG', 'IAD', 'BUF', 'PWM', 'JFK', 'CRP', 'PIA', 'FAT',
       'SMF', 'AUS', 'MCI', 'ATL', 'JAX', 'MFR', 'IDA', 'MSN', 'DCA',
       'SAT', 'CHS', 'SBA', 'SMX', 'IND', 'CLE', 'GSP', 'BDL', 'ABI',
       'RIC', 'BFL', 'OMA', 'RDM', 'FLL', 'CID', 'TPA', 'SYR', 'ROC',
       'TYR', 'LAN', 'XNA', 'GSO', 'EWR', 'PBI', 'RSW', 'OAK', 'PVD',
       'RNO', 'PIT', 'ABQ', 'MIA', 'BWI', 'LGA', 'TUL', 'LIT', 'MSY',
       'OKC', 'ATW', 'PNS', 'MEM', 'TYS', 'MHT', 'SAV', 'CLT', 'GRB',
       'ABE', 'JAN', 'OAJ', 'FAR', 'ERI', 'LEX', 'CWA', 'MSO', 'TTN',
       'AMA', 'CLL', 'HOU', 'JLN', 'MLI', 'RDU', 'CVG', 'MHK', 'MOB',
       'TLH', 'BHM', 'CAE', 'TXK', 'ACY', 'DTW', 'RAP', 'TUS', 'EAU',
       'DLH', 'FSD', 'INL', 'CMX', 'SPI', 'CLD', 'COD', 'CMH', 'LRD',
       'PSC', 'CPR', 'ACV', 'DAL', 'PAH', 'MRY', 'ESC', 'ISN', 'PSP',
       'MFE', 'STL', 'BTV', 'FSM', 'AEX', 'SPS', 'ACT', 'SJT', 'MTJ',
       'GCC', 'OGG', 'SJC', 'GUC', 'ORF', 'MOT', 'MLU', 'KOA', 'SAN',
       'LAW', 'PIB', 'MGM', 'SBP', 'COS', 'LAR', 'DRO', 'BIS', 'ITO',
       'BTR', 'GRI', 'HLN', 'BZN', 'MDW', 'MDT', 'SCE', 'LIH', 'TWF',
       'BPT', 'GPT', 'STC', 'HPN', 'MLB', 'PLN', 'CIU', 'CAK', 'DSM',
       'BLI', 'SHV', 'ROW', 'FWA', 'SNA', 'ALB', 'HOB', 'LNK', 'CMI',
       'COU', 'GTF', 'EKO', 'LGB', 'AVL', 'HSV', 'SAF', 'GRR', 'SUX',
       'LFT', 'HYS', 'ELP', 'DVL', 'ISP', 'BUR', 'DAB', 'DAY', 'GRK',
       'GJT', 'BMI', 'LBE', 'ASE', 'RKS', 'GUM', 'TVC', 'ALO', 'IMT',
       'LCH', 'JNU', 'JAC', 'MEI', 'DBQ', 'GCK', 'GNV', 'BRD', 'DIK',
       'SDF', 'LBB', 'AVP', 'BTM', 'ELM', 'PIH', 'ICT', 'SUN', 'LWS',
       'VEL', 'STT', 'YUM', 'FLG', 'FCA', 'HDN', 'JMS', 'ROA', 'CHA',
       'EYW', 'MYR', 'CRW', 'MQT', 'CHO', 'ECP', 'EVV', 'EGE', 'MBS',
       'GFK', 'TOL', 'BIL', 'OTZ', 'KTN', 'STX', 'ILM', 'PUB', 'RHI',
       'CDC', 'HRL', 'SCC', 'FNT', 'LSE', 'MMH', 'APN', 'AGS', 'CEC',
       'DHN', 'WRG', 'PHF', 'CNY', 'BRW', 'GGG', 'AZO', 'SRQ', 'ORH',
       'TRI', 'VLD', 'SIT', 'BQK', 'PSG', 'FAY', 'MKG', 'CSG', 'EWN',
       'OME', 'SGU', 'RST', 'GTR', 'BET', 'ABY', 'SWF', 'ILG', 'ADK',
       'UST', 'YAK', 'CDV', 'OTH', 'ADQ', 'PPG', 'BGM', 'BGR', 'ITH',
       'ACK', 'MVY', 'WYS', 'DLG', 'AKN', 'GST', 'HYA', '14747', '14771',
       '12889', '12892', '14869', '10299', '11292', '14107', '11630',
       '10732', '14254', '10141', '10627', '11982', '12173', '13930',
       '14683', '12266', '11618', '10721', '13487', '11884', '15919',
       '13851', '11111', '10693', '12191', '14783', '15016', '14487',
       '10423', '15370', '11953', '13891', '15376', '11778', '11278',
       '14100', '13204', '15304', '11637', '14842', '10155', '11775',
       '11298', '11057', '13931', '10821', '14122', '11049', '10990',
       '10631', '13158', '14108', '13198', '11447', '12206', '13495',
       '14057', '15624', '10747', '15411', '12891', '10994', '13256',
       '10792', '14492', '12451', '13127', '10781', '14960', '12278',
       '14685', '11995', '13485', '11977', '10257', '13796', '13232',
       '13296', '14570', '14893', '14524', '12217', '10713', '10208',
       '10136', '11603', '14689', '11471', '11315', '13264', '12478',
       '14814', '11308', '11066', '12896', '10397', '14307', '11721',
       '11140', '10185', '13277', '11203', '13342', '11433', '11697',
       '12953', '10599', '12156', '14952', '10620', '11042', '15096',
       '10408', '15249', '11423', '12915', '12264', '12339', '10140',
       '13871', '14027', '13244', '11267', '11540', '14576', '10868',
       '13486', '13476', '14489', '12945', '15607', '10529', '11986',
       '14635', '13303', '10785', '15380', '11996', '10561', '10874',
       '13367', '10146', '10431', '11973', '10980', '12197', '14098',
       '12323', '10577', '11150', '10135', '11617', '13795', '13029',
       '11003', '11146', '11577', '15356', '11259', '10279', '14321',
       '14843', '11638', '14828', '11481', '12951', '10434', '12448',
       '14730', '15323', '14252', '11193', '10849', '14193', '14986',
       '11641', '12992', '13422', '11612', '11823', '11980', '13290',
       '10158', '10685', '13377', '11109', '11076', '11122', '11865',
       '14543', '14905', '11587', '14457', '12335', '12343', '12003',
       '10157', '12884', '14633', '15048', '10268', '15295', '12389',
       '11525', '14262', '12888', '12391', '11648', '14696', '12758',
       '13830', '10469', '15412', '10731', '14679', '14831', '11413',
       '13433', '12982', '11867', '14698', '11537', '15389', '12402',
       '11337', '13360', '13076', '14006', '10728', '15401', '13230',
       '12016', '11067', '11274', '11921', '12519', '11013', '10779',
       '14150', '14794', '12511', '12177', '12523', '14908', '12007',
       '14588', '13577', '13061', '15041', '14109', '10800', '12954',
       '12441', '12898', '11695', '16218', '14113', '11624', '11503',
       '10739', '14574', '14711', '12129', '15070', '14520', '13184',
       '11252', '12280', '13241', '11898', '15024', '14674', '10551',
       '12819', '13459', '10581', '13970', '10372', '10918', '14709',
       '12255', '11905', '10333', '15841', '13344', '13933', '15991',
       '10754', '14256', '12094', '13873', '11097', '10154', '10926',
       '13964', '13541', '15027', '10170', '10165', '15497', '12265',
       '14222', '14025', '13502'], dtype=object)

In [112]:
df_airports['IATA_CODE']

0      ABE
1      ABI
2      ABQ
3      ABR
4      ABY
      ...
317    WRG
318    WYS
319    XNA
320    YAK
321    YUM
Name: IATA_CODE, Length: 322, dtype: object

In [113]:
lst_number = []
lst_name = []
for i, name in enumerate(df_airports['IATA_CODE']):
  lst_number.append(i)
  lst_name.append(name)

print(lst_number, lst_name)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321] ['ABE', 'ABI', 'ABQ', 'ABR', 'ABY', 'ACK', 'ACT', 'ACV', 'ACY', 'ADK', 'ADQ', 'AEX', 'AGS', 'AKN', 'ALB', 'ALO', 'AMA', 'ANC', 'APN', 'ASE', 'ATL', 'ATW', 'AUS', 'AVL', 'AVP', 'AZO', 'BDL', 'BET', 'BFL', 'BGM', 'BGR', 'BHM', 'BIL', 'BIS', 'BJI', 'BLI', 'BMI', 'BNA', 'BOI', 'BOS', 'BPT', 'BQK', 'BQN', 'BRD', 'BRO', 'BRW', 'BTM', 'BTR', 'BTV', 'BUF', 'BUR', 'BWI', 'BZN', 'CAE', 'CAK', 'CDC', 'CDV', 'CEC', 'CHA', 'CHO', 'CHS', 'CID', 'CIU', 'CLD', 'CLE', 'CLL', 'CLT', 'CMH', 'CMI', 'CMX', 'CNY', 'COD', 'COS', 'COU', 'CPR', 'CRP', 'CRW', 'CSG', 'CVG', 'CWA', 'DAB', 'DAL', 'DAY', 'DBQ', 'DCA', 'DEN', 'DFW', 'DHN', 'DIK', 'DLG', 'DLH', 'DRO', 'DSM', 'DTW', 'DVL', 'EAU', 'ECP', 'EGE', 'EKO', 'ELM', 'ELP', 'ERI', 'ESC', 'EUG', 'EVV', 'EWN', 'EWR', 'EYW', 'FAI', 'FAR', 'FAT', 'FAY', 'FCA', 'FLG', 'FLL', 'FNT', 'FSD', 'FSM', 'FWA', 'GCC', 'GCK', 'GEG', 'GFK', 'GGG', 'GJT', 'GNV', 'GPT', 'GRB', 'GRI', 'GRK', 'GRR', 'GSO', 'GSP', 'GST', 'GTF', 'GTR', 'GUC', 'GUM', 'HDN', 'HIB', 'HLN', 'HNL', 'HOB', 'HOU', 'HPN', 'HRL', 'HSV', 'HYA', 'HYS', 'IAD', 'IAG', 'IAH', 'ICT', 'IDA', 'ILG', 'ILM', 'IMT', 'IND', 'INL', 'ISN', 'ISP', 'ITH', 'ITO', 'JAC', 'JAN', 'JAX', 'JFK', 'JLN', 'JMS', 'JNU', 'KOA', 'KTN', 'LAN', 'LAR', 'LAS', 'LAW', 'LAX', 'LBB', 'LBE', 'LCH', 'LEX', 'LFT', 'LGA', 'LGB', 'LIH', 'LIT', 'LNK', 'LRD', 'LSE', 'LWS', 'MAF', 'MBS', 'MCI', 'MCO', 'MDT', 'MDW', 'MEI', 'MEM', 'MFE', 'MFR', 'MGM', 'MHK', 'MHT', 'MIA', 'MKE', 'MKG', 'MLB', 'MLI', 'MLU', 'MMH', 'MOB', 'MOT', 'MQT', 'MRY', 'MSN', 'MSO', 'MSP', 'MSY', 'MTJ', 'MVY', 'MYR', 'OAJ', 'OAK', 'OGG', 'OKC', 'OMA', 'OME', 'ONT', 'ORD', 'ORF', 'ORH', 'OTH', 'OTZ', 'PAH', 'PBG', 'PBI', 'PDX', 'PHF', 'PHL', 'PHX', 'PIA', 'PIB', 'PIH', 'PIT', 'PLN', 'PNS', 'PPG', 'PSC', 'PSE', 'PSG', 'PSP', 'PUB', 'PVD', 'PWM', 'RAP', 'RDD', 'RDM', 'RDU', 'RHI', 'RIC', 'RKS', 'RNO', 'ROA', 'ROC', 'ROW', 'RST', 'RSW', 'SAF', 'SAN', 'SAT', 'SAV', 'SBA', 'SBN', 'SBP', 'SCC', 'SCE', 'SDF', 'SEA', 'SFO', 'SGF', 'SGU', 'SHV', 'SIT', 'SJC', 'SJT', 'SJU', 'SLC', 'SMF', 'SMX', 'SNA', 'SPI', 'SPS', 'SRQ', 'STC', 'STL', 'STT', 'STX', 'SUN', 'SUX', 'SWF', 'SYR', 'TLH', 'TOL', 'TPA', 'TRI', 'TTN', 'TUL', 'TUS', 'TVC', 'TWF', 'TXK', 'TYR', 'TYS', 'UST', 'VEL', 'VLD', 'VPS', 'WRG', 'WYS', 'XNA', 'YAK', 'YUM']

In [114]:
data_dict = dict(zip(lst_name, lst_number))

In [115]:
data_dict

{'ABE': 0,
 'ABI': 1,
 'ABQ': 2,
 'ABR': 3,
 'ABY': 4,
 'ACK': 5,
 'ACT': 6,
 'ACV': 7,
 'ACY': 8,
 'ADK': 9,
 'ADQ': 10,
 'AEX': 11,
 'AGS': 12,
 'AKN': 13,
 'ALB': 14,
 'ALO': 15,
 'AMA': 16,
 'ANC': 17,
 'APN': 18,
 'ASE': 19,
 'ATL': 20,
 'ATW': 21,
 'AUS': 22,
 'AVL': 23,
 'AVP': 24,
 'AZO': 25,
 'BDL': 26,
 'BET': 27,
 'BFL': 28,
 'BGM': 29,
 'BGR': 30,
 'BHM': 31,
 'BIL': 32,
 'BIS': 33,
 'BJI': 34,
 'BLI': 35,
 'BMI': 36,
 'BNA': 37,
 'BOI': 38,
 'BOS': 39,
 'BPT': 40,
 'BQK': 41,
 'BQN': 42,
 'BRD': 43,
 'BRO': 44,
 'BRW': 45,
 'BTM': 46,
 'BTR': 47,
 'BTV': 48,
 'BUF': 49,
 'BUR': 50,
 'BWI': 51,
 'BZN': 52,
 'CAE': 53,
 'CAK': 54,
 'CDC': 55,
 'CDV': 56,
 'CEC': 57,
 'CHA': 58,
 'CHO': 59,
 'CHS': 60,
 'CID': 61,
 'CIU': 62,
 'CLD': 63,
 'CLE': 64,
 'CLL': 65,
 'CLT': 66,
 'CMH': 67,
 'CMI': 68,
 'CMX': 69,
 'CNY': 70,
 'COD': 71,
 'COS': 72,
 'COU': 73,
 'CPR': 74,
 'CRP': 75,
 'CRW': 76,
 'CSG': 77,
 'CVG': 78,
 'CWA': 79,
 'DAB': 80,
 'DAL': 81,
 'DAY': 82,
 'DBQ': 83,
 'DCA': 84,
 'DEN': 85,
 'DFW': 86,
 'DHN': 87,
 'DIK': 88,
 'DLG': 89,
 'DLH': 90,
 'DRO': 91,
 'DSM': 92,
 'DTW': 93,
 'DVL': 94,
 'EAU': 95,
 'ECP': 96,
 'EGE': 97,
 'EKO': 98,
 'ELM': 99,
 'ELP': 100,
 'ERI': 101,
 'ESC': 102,
 'EUG': 103,
 'EVV': 104,
 'EWN': 105,
 'EWR': 106,
 'EYW': 107,
 'FAI': 108,
 'FAR': 109,
 'FAT': 110,
 'FAY': 111,
 'FCA': 112,
 'FLG': 113,
 'FLL': 114,
 'FNT': 115,
 'FSD': 116,
 'FSM': 117,
 'FWA': 118,
 'GCC': 119,
 'GCK': 120,
 'GEG': 121,
 'GFK': 122,
 'GGG': 123,
 'GJT': 124,
 'GNV': 125,
 'GPT': 126,
 'GRB': 127,
 'GRI': 128,
 'GRK': 129,
 'GRR': 130,
 'GSO': 131,
 'GSP': 132,
 'GST': 133,
 'GTF': 134,
 'GTR': 135,
 'GUC': 136,
 'GUM': 137,
 'HDN': 138,
 'HIB': 139,
 'HLN': 140,
 'HNL': 141,
 'HOB': 142,
 'HOU': 143,
 'HPN': 144,
 'HRL': 145,
 'HSV': 146,
 'HYA': 147,
 'HYS': 148,
 'IAD': 149,
 'IAG': 150,
 'IAH': 151,
 'ICT': 152,
 'IDA': 153,
 'ILG': 154,
 'ILM': 155,
 'IMT': 156,
 'IND': 157,
 'INL': 158,
 'ISN': 159,
 'ISP': 160,
 'ITH': 161,
 'ITO': 162,
 'JAC': 163,
 'JAN': 164,
 'JAX': 165,
 'JFK': 166,
 'JLN': 167,
 'JMS': 168,
 'JNU': 169,
 'KOA': 170,
 'KTN': 171,
 'LAN': 172,
 'LAR': 173,
 'LAS': 174,
 'LAW': 175,
 'LAX': 176,
 'LBB': 177,
 'LBE': 178,
 'LCH': 179,
 'LEX': 180,
 'LFT': 181,
 'LGA': 182,
 'LGB': 183,
 'LIH': 184,
 'LIT': 185,
 'LNK': 186,
 'LRD': 187,
 'LSE': 188,
 'LWS': 189,
 'MAF': 190,
 'MBS': 191,
 'MCI': 192,
 'MCO': 193,
 'MDT': 194,
 'MDW': 195,
 'MEI': 196,
 'MEM': 197,
 'MFE': 198,
 'MFR': 199,
 'MGM': 200,
 'MHK': 201,
 'MHT': 202,
 'MIA': 203,
 'MKE': 204,
 'MKG': 205,
 'MLB': 206,
 'MLI': 207,
 'MLU': 208,
 'MMH': 209,
 'MOB': 210,
 'MOT': 211,
 'MQT': 212,
 'MRY': 213,
 'MSN': 214,
 'MSO': 215,
 'MSP': 216,
 'MSY': 217,
 'MTJ': 218,
 'MVY': 219,
 'MYR': 220,
 'OAJ': 221,
 'OAK': 222,
 'OGG': 223,
 'OKC': 224,
 'OMA': 225,
 'OME': 226,
 'ONT': 227,
 'ORD': 228,
 'ORF': 229,
 'ORH': 230,
 'OTH': 231,
 'OTZ': 232,
 'PAH': 233,
 'PBG': 234,
 'PBI': 235,
 'PDX': 236,
 'PHF': 237,
 'PHL': 238,
 'PHX': 239,
 'PIA': 240,
 'PIB': 241,
 'PIH': 242,
 'PIT': 243,
 'PLN': 244,
 'PNS': 245,
 'PPG': 246,
 'PSC': 247,
 'PSE': 248,
 'PSG': 249,
 'PSP': 250,
 'PUB': 251,
 'PVD': 252,
 'PWM': 253,
 'RAP': 254,
 'RDD': 255,
 'RDM': 256,
 'RDU': 257,
 'RHI': 258,
 'RIC': 259,
 'RKS': 260,
 'RNO': 261,
 'ROA': 262,
 'ROC': 263,
 'ROW': 264,
 'RST': 265,
 'RSW': 266,
 'SAF': 267,
 'SAN': 268,
 'SAT': 269,
 'SAV': 270,
 'SBA': 271,
 'SBN': 272,
 'SBP': 273,
 'SCC': 274,
 'SCE': 275,
 'SDF': 276,
 'SEA': 277,
 'SFO': 278,
 'SGF': 279,
 'SGU': 280,
 'SHV': 281,
 'SIT': 282,
 'SJC': 283,
 'SJT': 284,
 'SJU': 285,
 'SLC': 286,
 'SMF': 287,
 'SMX': 288,
 'SNA': 289,
 'SPI': 290,
 'SPS': 291,
 'SRQ': 292,
 'STC': 293,
 'STL': 294,
 'STT': 295,
 'STX': 296,
 'SUN': 297,
 'SUX': 298,
 'SWF': 299,
 'SYR': 300,
 'TLH': 301,
 'TOL': 302,
 'TPA': 303,
 'TRI': 304,
 'TTN': 305,
 'TUL': 306,
 'TUS': 307,
 'TVC': 308,
 'TWF': 309,
 'TXK': 310,
 'TYR': 311,
 'TYS': 312,
 'UST': 313,
 'VEL': 314,
 'VLD': 315,
 'VPS': 316,
 'WRG': 317,
 'WYS': 318,
 'XNA': 319,
 'YAK': 320,
 'YUM': 321}

In [116]:
lst = df_flights['ORIGIN_AIRPORT'].tolist()

In [117]:
len(lst)

5819079

In [118]:
lst_acro = []

for acro in lst:
  if acro in data_dict:
    number = data_dict[acro]
    number = int(number)
    lst_acro.append(number)
  else:
    lst_acro.append(acro)

In [119]:
len(lst_acro)

5819079

In [120]:
# data_list = df_flights['ORIGIN_AIRPORT']
# lst_of_acro_in_number = []
# acro = []

# for acro in data_list:
#   for i in range(len(lst_name)):
#     if str(acro) == lst_name[i]:
#       x = lst_name.index(lst_name[i])
#       lst_of_acro_in_number.append(x)
#       i += 1
#     else:
#       i += 1
#       continue

In [121]:
df_acro_in_num = pd.DataFrame(lst_acro, columns=['AIR_ACRO_IN_NUM'])

In [122]:
df_flights = pd.concat([df_flights, df_acro_in_num], axis=1, join='inner')

In [123]:
df_flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 47 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   ORIGIN_AIRPORT       object
 5   DESTINATION_AIRPORT  object
 6   SCHEDULED_DEPARTURE  int64
 7   DEPARTURE_TIME       float64
 8   DEPARTURE_DELAY      float64
 9   TAXI_OUT             float64
 10  WHEELS_OFF           float64
 11  SCHEDULED_TIME       float64
 12  ELAPSED_TIME         float64
 13  AIR_TIME             float64
 14  DISTANCE             int32
 15  WHEELS_ON            float64
 16  TAXI_IN              float64
 17  SCHEDULED_ARRIVAL    int64
 18  ARRIVAL_TIME         float64
 19  ARRIVAL_DELAY        float64
 20  DIVERTED             int32
 21  CANCELLED            int32
 22  AIR_SYSTEM_DELAY     float64
 23  SECURITY_DELAY       float64
 24  AIRLINE_DELAY        float64
 25  LATE_AIRCRAFT_DELAY  float64
 26  WEATHER_DELAY        float64
 27  FULL_DATA            object
 28  Option_A             bool
 29  Option_B             bool
 30  Option_C             bool
 31  Option_D             bool
 32  Airlines_AA          bool
 33  Airlines_AS          bool
 34  Airlines_B6          bool
 35  Airlines_DL          bool
 36  Airlines_EV          bool
 37  Airlines_F9          bool
 38  Airlines_HA          bool
 39  Airlines_MQ          bool
 40  Airlines_NK          bool
 41  Airlines_OO          bool
 42  Airlines_UA          bool
 43  Airlines_US          bool
 44  Airlines_VX          bool
 45  Airlines_WN          bool
 46  AIR_ACRO_IN_NUM      object
dtypes: bool(18), float64(16), int32(3), int64(6), object(4)
memory usage: 1.3+ GB

In [124]:
df_flights['AIR_ACRO_IN_NUM']

0           17
1          176
2          278
3          176
4          277
          ...
5819074    176
5819075    166
5819076    166
5819077    193
5819078    166
Name: AIR_ACRO_IN_NUM, Length: 5819079, dtype: object

In [125]:
count_nan_in_column(df_flights, 'AIR_ACRO_IN_NUM')

0

In [126]:
count_nan_in_column(df_flights, 'ORIGIN_AIRPORT')

0

#### DESTINATION_AIRPORT

In [127]:
count_nan_in_column(df_flights, 'DESTINATION_AIRPORT')

0

In [128]:
lst = df_flights['DESTINATION_AIRPORT'].tolist()

In [129]:
lst_acro = []

for acro in lst:
  if acro in data_dict:
    number = data_dict[acro]
    lst_acro.append(number)
  else:
    lst_acro.append(acro)

In [130]:
df_dest_acro_in_num = pd.DataFrame(lst_acro, columns=['DEST_AIR_ACRO_IN_NUM'])

In [131]:
df_flights = pd.concat([df_flights, df_dest_acro_in_num], axis=1, join='inner')

In [132]:
df_flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 48 columns):
 #   Column                Dtype
---  ------                -----
 0   YEAR                  int64
 1   MONTH                 int64
 2   DAY                   int64
 3   DAY_OF_WEEK           int64
 4   ORIGIN_AIRPORT        object
 5   DESTINATION_AIRPORT   object
 6   SCHEDULED_DEPARTURE   int64
 7   DEPARTURE_TIME        float64
 8   DEPARTURE_DELAY       float64
 9   TAXI_OUT              float64
 10  WHEELS_OFF            float64
 11  SCHEDULED_TIME        float64
 12  ELAPSED_TIME          float64
 13  AIR_TIME              float64
 14  DISTANCE              int32
 15  WHEELS_ON             float64
 16  TAXI_IN               float64
 17  SCHEDULED_ARRIVAL     int64
 18  ARRIVAL_TIME          float64
 19  ARRIVAL_DELAY         float64
 20  DIVERTED              int32
 21  CANCELLED             int32
 22  AIR_SYSTEM_DELAY      float64
 23  SECURITY_DELAY        float64
 24  AIRLINE_DELAY         float64
 25  LATE_AIRCRAFT_DELAY   float64
 26  WEATHER_DELAY         float64
 27  FULL_DATA             object
 28  Option_A              bool
 29  Option_B              bool
 30  Option_C              bool
 31  Option_D              bool
 32  Airlines_AA           bool
 33  Airlines_AS           bool
 34  Airlines_B6           bool
 35  Airlines_DL           bool
 36  Airlines_EV           bool
 37  Airlines_F9           bool
 38  Airlines_HA           bool
 39  Airlines_MQ           bool
 40  Airlines_NK           bool
 41  Airlines_OO           bool
 42  Airlines_UA           bool
 43  Airlines_US           bool
 44  Airlines_VX           bool
 45  Airlines_WN           bool
 46  AIR_ACRO_IN_NUM       object
 47  DEST_AIR_ACRO_IN_NUM  object
dtypes: bool(18), float64(16), int32(3), int64(6), object(5)
memory usage: 1.3+ GB

In [133]:
df_flights.index

RangeIndex(start=0, stop=5819079, step=1)

## TIME IN MINUTES

###AIRLINE_DELAY

In [134]:
data_value = df_flights['FULL_DATA']

In [135]:
df_flights['AIRLINE_DELAY'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 5819079 entries, 0 to 5819078
Series name: AIRLINE_DELAY
Non-Null Count    Dtype
--------------    -----
1063439 non-null  float64
dtypes: float64(1)
memory usage: 44.4 MB

In [136]:
#df_flights['AIRLINE_DELAY'].describe()

In [137]:
#first = count_nan_in_column(df_flights, 'AIRLINE_DELAY')

In [138]:
#first

In [139]:
#second = df_flights['AIRLINE_DELAY'].count()

In [140]:
#nan_per(first, second)

In [141]:
#draw_plot(df_flights, data_value, 'AIRLINE_DELAY', 8, 6)

In [142]:
#airline_delay_sorted = df_flights.sort_values('AIRLINE_DELAY', ascending=False)

# dane wydaje sie ze najelpeij wypelnic srednia

In [143]:
#sum_my_column(df_flights, 'FULL_DATA', 'AIRLINE_DELAY', 8, 6)

In [144]:
#plt.hist(df_flights['AIRLINE_DELAY'])

In [145]:
df_flights.index

RangeIndex(start=0, stop=5819079, step=1)

In [146]:
upper = df_flights['AIRLINE_DELAY'].quantile(.99)
lower = df_flights['AIRLINE_DELAY'].quantile(.05)

In [147]:
upper

211.0

In [148]:
lower

0.0

In [149]:
df_flights.index

RangeIndex(start=0, stop=5819079, step=1)

In [150]:
df_flights["AIRLINE_DELAY"] = np.where(df_flights["AIRLINE_DELAY"] <lower, lower,df_flights['AIRLINE_DELAY'])
df_flights["AIRLINE_DELAY"] = np.where(df_flights["AIRLINE_DELAY"] >upper, upper,df_flights['AIRLINE_DELAY'])
print(df_flights['AIRLINE_DELAY'].skew())

3.3580058817435186

In [151]:
df_flights.index

RangeIndex(start=0, stop=5819079, step=1)

In [152]:
#plt.hist(df_flights['AIRLINE_DELAY'])

In [153]:
#first = count_nan_in_column(df_flights, 'AIRLINE_DELAY')
#second = df_flights['AIRLINE_DELAY'].count()
#nan_per(first, second)

In [154]:
#sum_my_column(df_flights, 'FULL_DATA', 'AIRLINE_DELAY', 8, 6)

In [155]:
# def delate_outlayers(df, column, low, up):
#   lower = df[column].quantile(low)
#   upper = df[column].quantile(up)
#   return df[(df[column]=<upper) & (df[column]>=lower)]

In [156]:
#plt.hist(df_flights['AIRLINE_DELAY'])

In [157]:
#df_flights.index

### LATE_AIRCRAFT_DELAY

In [158]:
#sum_my_column(df_flights, 'FULL_DATA', 'LATE_AIRCRAFT_DELAY', 8, 6)

In [159]:
#plt.hist(df_flights['LATE_AIRCRAFT_DELAY'])

In [160]:
df_flights['LATE_AIRCRAFT_DELAY'] = delate_outlayers(df_flights, 'LATE_AIRCRAFT_DELAY', 0.05, 0.99)

In [161]:
descript_lenght(df_flights, 'LATE_AIRCRAFT_DELAY')

(2.4963621058855514, RangeIndex(start=0, stop=5819079, step=1))

In [162]:
#plt.hist(df_flights['LATE_AIRCRAFT_DELAY'])

In [163]:
#sum_my_column(df_flights, 'FULL_DATA', 'LATE_AIRCRAFT_DELAY', 8, 6)

In [164]:
#test = df_flights['ORIGIN_AIRPORT'].loc[:100]

In [165]:
#test

In [166]:
# lst_test = []
# for i in test:
#   lst_test.append(i)

# print(lst_test)

In [167]:
#lst_name

In [168]:
#lst_name[66]

przejrzyj liste 1 i przejrzyj liste druga

porownaj dwie listy 

jesli wartosc znaleziona na liscie jeden jest rowna jakiejkowielk wartosci na liscie dwa to wez id z listy numer dwa i zapisz na 3 liscie

In [169]:
# for acro in test:
#   print(acro)

In [170]:
#lst_name[1]

In [171]:

# if acro[0] == acro_small[0]:
#   print('suc')
# elif acro[0] == acro_small[1]:
#   print('suc')
# else acro[0] == acro_small[2]:
#   print('suc')

In [172]:
# for acro in test:
#   if acro[0] == acro_small[0]:
#     print('suc')
#   elif acro[0] == acro_small[1]:
#     print('suc')
#   else acro[0] == acro_small[2]:
#     print('suc')

In [173]:
# lst = []
# for i in range(len(lst_name)):
#   if str(acro) == lst_name[i]:
#     x = lst_name.index(lst_name[i])
#     lst.append(x)
#     i += 1
#   else:
#     i += 1
#     continue

# print(lst)

In [174]:
# lst = []
# for acro in test:
#   for i in range(len(lst_name)):
#     if str(acro) == lst_name[i]:
#       x = lst_name.index(lst_name[i])
#       lst.append(x)
#       i += 1
#     else:
#       i += 1
#       continue

# print(lst)

###WEATHER_DELAY

In [175]:
#sum_my_column(df_flights, 'FULL_DATA', 'WEATHER_DELAY', 8, 6)

In [176]:
#plt.hist(df_flights['WEATHER_DELAY'])

In [177]:
df_flights['WEATHER_DELAY'] = delate_outlayers(df_flights, 'WEATHER_DELAY', 0.05, 0.99)
descript_lenght(df_flights, 'WEATHER_DELAY')

(5.985065400515409, RangeIndex(start=0, stop=5819079, step=1))

In [178]:
#plt.hist(df_flights['WEATHER_DELAY'])

In [179]:
#sum_my_column(df_flights, 'FULL_DATA', 'WEATHER_DELAY', 8, 6)

### SECURITY_DELAY

NIE TYKAC DANE LATWO UTRACIC, nany na 0, bez usuwania outlierow

In [180]:
#sum_my_column(df_flights, 'FULL_DATA', 'SECURITY_DELAY', 8, 6)

In [181]:
#plt.hist(df_flights['SECURITY_DELAY'])

In [182]:
# # zostawic na kopi do prezentacji
# df_flights_1 = df_flights[:]
# df_flights_1['SECURITY_DELAY'] = delate_outlayers(df_flights_1, 'SECURITY_DELAY', 0.05, 0.99)
# descript_lenght(df_flights_1, 'SECURITY_DELAY')

In [183]:
#plt.hist(df_flights_1['SECURITY_DELAY'])

In [184]:
#sum_my_column(df_flights, 'FULL_DATA', 'SECURITY_DELAY', 8, 6)

### AIR_SYSTEM_DELAY

In [185]:
#sum_my_column(df_flights, 'FULL_DATA', 'AIR_SYSTEM_DELAY', 8, 6)

In [186]:
df_flights['AIR_SYSTEM_DELAY'] = delate_outlayers(df_flights, 'AIR_SYSTEM_DELAY', 0.05, 0.99)
descript_lenght(df_flights, 'AIR_SYSTEM_DELAY')

(3.0014244559203043, RangeIndex(start=0, stop=5819079, step=1))

In [187]:
#plt.hist(df_flights['AIR_SYSTEM_DELAY'])

In [188]:
#sum_my_column(df_flights, 'FULL_DATA', 'AIR_SYSTEM_DELAY', 8, 6)

### LESS THEN 5% DATA

### ARRIVAL_DELAY

In [189]:
#sum_my_column(df_flights, 'FULL_DATA', 'ARRIVAL_DELAY', 8, 6)

# minuty ale w dziwnej formie

In [190]:

df_flights['ARRIVAL_DELAY'] = delate_outlayers(df_flights, 'ARRIVAL_DELAY', 0.05, 0.999)
descript_lenght(df_flights, 'ARRIVAL_DELAY')

(4.255508404360429, RangeIndex(start=0, stop=5819079, step=1))

In [191]:
#plt.hist(df_flights['ARRIVAL_DELAY'])

In [192]:
#sum_my_column(df_flights, 'FULL_DATA', 'ARRIVAL_DELAY', 8, 6)

### TAXI_IN

In [193]:
#sum_my_column(df_flights, 'FULL_DATA', 'TAXI_IN', 8, 6)

In [194]:
df_flights['TAXI_IN'] = delate_outlayers(df_flights, 'TAXI_IN', 0.05, 0.99)
descript_lenght(df_flights, 'TAXI_IN')

(2.369260109345568, RangeIndex(start=0, stop=5819079, step=1))

In [195]:
#plt.hist(df_flights['TAXI_IN'])

In [196]:
#sum_my_column(df_flights, 'FULL_DATA', 'TAXI_IN', 8, 6)

### AIR_TIME

In [197]:
#sum_my_column(df_flights, 'FULL_DATA', 'AIR_TIME', 8, 6)

In [198]:
#plt.hist(df_flights['AIR_TIME'])

In [199]:
df_flights['AIR_TIME'] = delate_outlayers(df_flights, 'AIR_TIME', 0.05, 0.99)
descript_lenght(df_flights, 'AIR_TIME')

(1.258804435079732, RangeIndex(start=0, stop=5819079, step=1))

In [200]:
#plt.hist(df_flights['AIR_TIME'])

In [201]:
#sum_my_column(df_flights, 'FULL_DATA', 'AIR_TIME', 8, 6)

###ELAPSED_TIME

In [202]:
#sum_my_column(df_flights, 'FULL_DATA', 'ELAPSED_TIME', 8, 6)

In [203]:
df_flights['ELAPSED_TIME'] = delate_outlayers(df_flights, 'ELAPSED_TIME', 0.05, 0.99)
descript_lenght(df_flights, 'ELAPSED_TIME')

(1.236429181759507, RangeIndex(start=0, stop=5819079, step=1))

In [204]:
#plt.hist(df_flights['ELAPSED_TIME'])

In [205]:
#sum_my_column(df_flights, 'FULL_DATA', 'ELAPSED_TIME', 8, 6)

### TAXI_OUT

In [206]:
#sum_my_column(df_flights, 'FULL_DATA', 'TAXI_OUT', 8, 6)

In [207]:
df_flights['TAXI_OUT'] = delate_outlayers(df_flights, 'TAXI_OUT', 0.05, 0.99)
descript_lenght(df_flights, 'TAXI_OUT')

(1.9284559625197493, RangeIndex(start=0, stop=5819079, step=1))

In [208]:
#plt.hist(df_flights['TAXI_OUT'])

In [209]:
#sum_my_column(df_flights, 'FULL_DATA', 'TAXI_OUT', 8, 6)

### DEPARTURE_DELAY

In [210]:
#sum_my_column(df_flights, 'FULL_DATA', 'DEPARTURE_DELAY', 8, 6)

In [211]:
df_flights['DEPARTURE_DELAY'] = delate_outlayers(df_flights, 'DEPARTURE_DELAY', 0.05, 0.99)
descript_lenght(df_flights, 'DEPARTURE_DELAY')

(3.4247223309142716, RangeIndex(start=0, stop=5819079, step=1))

In [212]:
#plt.hist(df_flights['DEPARTURE_DELAY'])

In [213]:
#sum_my_column(df_flights, 'FULL_DATA', 'DEPARTURE_DELAY', 8, 6)

###SCHEDULED_TIME

In [214]:
#sum_my_column(df_flights, 'FULL_DATA', 'SCHEDULED_TIME', 8, 6)

In [215]:
df_flights['SCHEDULED_TIME'] = delate_outlayers(df_flights, 'SCHEDULED_TIME', 0.05, 0.99)
descript_lenght(df_flights, 'SCHEDULED_TIME')

(1.2558856041339261, RangeIndex(start=0, stop=5819079, step=1))

In [216]:
#plt.hist(df_flights['SCHEDULED_TIME'])

In [217]:
#sum_my_column(df_flights, 'FULL_DATA', 'SCHEDULED_TIME', 8, 6)

## TIME IN HOURS

In [218]:
# for column in df_flights.columns:
#   print(column)

In [219]:
# df_flights.index

### ARRIVAL_TIME

In [220]:
df_flights['ARRIVAL_TIME']

0          408.0
1          741.0
2          811.0
3          756.0
4          259.0
           ...
5819074    753.0
5819075    430.0
5819076    432.0
5819077    330.0
5819078    442.0
Name: ARRIVAL_TIME, Length: 5819079, dtype: float64

In [221]:
df_flights = df_flights.dropna(subset=['ARRIVAL_TIME'])

In [222]:
df_flights['ARRIVAL_TIME'] = df_flights['ARRIVAL_TIME'].astype(int)

In [223]:
times = df_flights['ARRIVAL_TIME'].tolist()
times_str = [str(time) for time in times]

In [224]:
formatted_times = []

for time in times_str:
    time = time.zfill(4)  # Wypełnienie zerami z przodu, jeśli liczba jest krótsza niż 4 cyfry
    hour = time[:2]
    minute = time[2:]
    formatted_time = f'{hour}:{minute}'
    formatted_times.append(formatted_time)

In [225]:
formatted_times = list(map(lambda x: replace_time(x), formatted_times))

In [226]:
df_flights['ARRIVAL_TIME'] =  formatted_times
df_flights['ARRIVAL_TIME_D_T'] = df_flights['FULL_DATA'].map(str) +" "+ df_flights["ARRIVAL_TIME"]
df_flights['ARRIVAL_TIME_D_T'] = pd.to_datetime(df_flights['ARRIVAL_TIME_D_T'], format='mixed')

In [227]:
df_flights['ARRIVAL_TIME_D_T']

0         2015-01-01 04:08:00
1         2015-01-01 07:41:00
2         2015-01-01 08:11:00
3         2015-01-01 07:56:00
4         2015-01-01 02:59:00
                  ...
5819074   2015-12-31 07:53:00
5819075   2015-12-31 04:30:00
5819076   2015-12-31 04:32:00
5819077   2015-12-31 03:30:00
5819078   2015-12-31 04:42:00
Name: ARRIVAL_TIME_D_T, Length: 5726566, dtype: datetime64[ns]

In [228]:
# times = df_flights['ARRIVAL_TIME'].tolist()

# formatted_times = []

# for time in times:
#     time = time.zfill(4)  # Wypełnienie zerami z przodu, jeśli liczba jest krótsza niż 4 cyfry
#     hour = time[:2]
#     minute = time[2:]
#     formatted_time = f'{hour}:{minute}'
#     formatted_times.append(formatted_time)

# print(formatted_times)

In [229]:
#df_flights['ARRIVAL_TIME'] =  df_flights['ARRIVAL_TIME'].apply(lambda x: f'{x//60:01d}:{x%60:02d}' if x < 60 else f'{x//100:01d}:00')

In [230]:
#df_flights['ARRIVAL_DATA_AND_TIME'] = df_flights['FULL_DATA'].astype(str) +" "+ df_flights["ARRIVAL_TIME"].astype(str).replace(' 24:', ' 00:')

In [231]:
#df_flights['ARRIVAL_DATA_AND_TIME']

In [232]:
# df_flights['ARRIVAL_TIME_D_T'] = pd.to_datetime(df_flights['ARRIVAL_DATA_AND_TIME'])

In [233]:
#sum_my_column(df_flights, 'FULL_DATA', 'ARRIVAL_TIME', 8, 6)

In [234]:
#float_check('ARRIVAL_TIME')

In [235]:
#df_flights = df_flights.dropna(subset=['ARRIVAL_TIME'])

In [236]:
#df_flights.index

In [237]:
#df_flights['ARRIVAL_TIME'] = df_flights['ARRIVAL_TIME'].astype(int)

In [238]:
#df_flights['ARRIVAL_TIME'].head()

In [239]:
#low = separate_time(df_flights, "ARRIVAL_TIME","<", 60 )

In [240]:
#top = separate_time(df_flights, "ARRIVAL_TIME",">", 60 )

In [241]:
#low['ARRIVAL_TIME_WORK'] = convert_time_before_1_AM(low['ARRIVAL_TIME'])

In [242]:
#top['ARRIVAL_TIME_WORK'] = convert_to_time(top['ARRIVAL_TIME'])

In [243]:
#df_flights = low.append(top)

In [244]:
#df_flights['ARRIVAL_TIME_WORK']

In [245]:
#df_flights['ARRIVAL_DATA_AND_TIME'] = df_flights['FULL_DATA'].astype(str) +" "+ df_flights["ARRIVAL_TIME_WORK"].astype(str)

In [246]:
#df_flights['ARRIVAL_DATA_AND_TIME']

In [247]:
#df_flights.query('ARRIVAL_TIME_WORK == "24:00"')

In [248]:
#df_flights['ARRIVAL_DATA_AND_TIME'] = pd.to_datetime(df_flights['ARRIVAL_DATA_AND_TIME'])

In [249]:
#df_flights['ARRIVAL_DATA_AND_TIME']

### SCHEDULED_ARRIVAL

In [250]:
# df_flights['SCHEDULED_ARRIVAL']

In [251]:
times = df_flights['SCHEDULED_ARRIVAL'].tolist()

In [252]:
times_str = [str(time) for time in times]

In [253]:
formatted_times = []

for time in times_str:
    time = time.zfill(4)  # Wypełnienie zerami z przodu, jeśli liczba jest krótsza niż 4 cyfry
    hour = time[:2]
    minute = time[2:]
    formatted_time = f'{hour}:{minute}'
    formatted_times.append(formatted_time)

In [254]:
formatted_times = list(map(lambda x: replace_time(x), formatted_times))

In [255]:
df_flights['SCHEDULED_ARRIVAL'] =  formatted_times
df_flights['SCHEDULED_ARRIVAL_D_T'] = df_flights['FULL_DATA'].map(str) +" "+ df_flights["SCHEDULED_ARRIVAL"]
df_flights['SCHEDULED_ARRIVAL_D_T'] = pd.to_datetime(df_flights['SCHEDULED_ARRIVAL_D_T'], format='mixed')

In [256]:
#df_flights['SCHEDULED_ARRIVAL_D_T_1']

In [257]:
#sum_my_column(df_flights, 'FULL_DATA', 'SCHEDULED_ARRIVAL', 8, 6)

In [258]:
#float_check('SCHEDULED_ARRIVAL')

In [259]:
#df_flights['SCHEDULED_ARRIVAL'] = df_flights['SCHEDULED_ARRIVAL'].astype(int)

In [260]:
#low = separate_time(df_flights, "SCHEDULED_ARRIVAL","<", 60 )

In [261]:
#top = separate_time(df_flights, "SCHEDULED_ARRIVAL",">", 60 )

In [262]:
#low['SCHEDULED_ARRIVAL'] = convert_time_before_1_AM(low['SCHEDULED_ARRIVAL'])

In [263]:
#top['SCHEDULED_ARRIVAL'] = convert_to_time(top['SCHEDULED_ARRIVAL'])

In [264]:
#df_flights = low.append(top)

In [265]:
#df_flights ['SCHEDULED_ARRIVAL']

In [266]:
#df_flights['SCHEDULED_ARRIVAL_DATA_AND_TIME'] = df_flights['FULL_DATA'].astype(str) +" "+ df_flights["SCHEDULED_ARRIVAL"].astype(str)

In [267]:
#df_flights['SCHEDULED_ARRIVAL_DATA_AND_TIME'] = pd.to_datetime(df_flights['SCHEDULED_ARRIVAL_DATA_AND_TIME'])

In [268]:
#df_flights['SCHEDULED_ARRIVAL_DATA_AND_TIME']

### WHEELS_ON

In [269]:
# df_flights['WHEELS_ON'] = df_flights['WHEELS_ON'].astype(int)
# df_flights['WHEEL_ON'] =  df_flights['WHEEL_ON'].apply(lambda x: f'{x//60:01d}:{x%60:02d}' if x < 60 else f'{x//100:01d}:00')
# df_flights['WHEEL_ON_D_T'] = df_flights['FULL_DATA'].map(str) +" "+ df_flights["WHEEL_ON"].map(str)
# df_flights['WHEEL_ON_D_T'] = pd.to_datetime(df_flights['WHEEL_ON_D_T'])

In [270]:
#sum_my_column(df_flights, 'FULL_DATA', 'WHEELS_ON', 8, 6)

In [271]:
#float_check('WHEELS_ON')

In [272]:
#df_flights['WHEELS_ON'] = df_flights['WHEELS_ON'].astype(int)

In [273]:
#low = separate_time(df_flights, "WHEELS_ON","<", 60 )

In [274]:
#top = separate_time(df_flights, "WHEELS_ON",">", 60 )

In [275]:
#low['WHEELS_ON'] = convert_time_before_1_AM(low['WHEELS_ON'])

In [276]:
#top['WHEELS_ON'] = convert_to_time(top['WHEELS_ON'])

In [277]:
#df_flights = low.append(top)

In [278]:
#df_flights

In [279]:
#df_flights['WHEELS_ON_DATA_AND_TIME'] = df_flights['FULL_DATA'].astype(str) +" "+ df_flights["WHEELS_ON"].astype(str)

In [280]:
#df_flights['WHEELS_ON_DATA_AND_TIME'] = pd.to_datetime(df_flights['WHEELS_ON_DATA_AND_TIME'])

In [281]:
#df_flights['WHEELS_ON_DATA_AND_TIME']

### WHEEL_OFF

In [282]:
#df_flights['WHEELS_OFF'] = df_flights['WHEELS_OFF'].astype(int)

In [283]:
#df_flights['WHEEL_OFF'] =  df_flights['WHEEL_OFF'].apply(lambda x: f'{x//60:01d}:{x%60:02d}' if x < 60 else f'{x//100:01d}:00')

In [284]:
# df_flights['WHEEL_OFF_D_T'] = df_flights['FULL_DATA'].map(str) +" "+ df_flights["WHEEL_OFF"].map(str)

In [285]:
# df_flights['SCHEDULED_DEPARTURE_DATA_AND_TIME'] = pd.to_datetime(df_flights['WHEEL_OFF_D_T'])

In [286]:
#sum_my_column(df_flights, 'FULL_DATA', 'WHEELS_OFF', 8, 6)

In [287]:
#float_check('WHEELS_OFF')

In [288]:
#low = separate_time(df_flights, "WHEELS_OFF","<", 60 )

In [289]:
#top = separate_time(df_flights, "WHEELS_OFF",">", 60 )

In [290]:
#low['WHEELS_OFF'] = convert_time_before_1_AM(low['WHEELS_OFF'])

In [291]:
#top['WHEELS_OFF'] = convert_to_time(top['WHEELS_OFF'])

In [292]:
#df_flights = low.append(top)

In [293]:
#df_flights

In [294]:
#df_flights['WHEELS_OFF_DATA_AND_TIME'] = df_flights['FULL_DATA'].astype(str) +" "+ df_flights["WHEELS_OFF"].astype(str)

In [295]:
#df_flights['WHEELS_OFF_DATA_AND_TIME'] = pd.to_datetime(df_flights['WHEELS_OFF_DATA_AND_TIME'])

In [296]:
#df_flights['WHEELS_OFF_DATA_AND_TIME']

### SCHEDULED_DEPARTURE

In [297]:
times = df_flights['SCHEDULED_DEPARTURE'].tolist()

times_str = [str(time) for time in times]

formatted_times = []

for time in times_str:
    time = time.zfill(4)  # Wypełnienie zerami z przodu, jeśli liczba jest krótsza niż 4 cyfry
    hour = time[:2]
    minute = time[2:]
    formatted_time = f'{hour}:{minute}'
    formatted_times.append(formatted_time)

formatted_times = list(map(lambda x: replace_time(x), formatted_times))

df_flights['SCHEDULED_DEPARTURE'] =  formatted_times
df_flights['SCHEDULED_DEPARTURE_D_T'] = df_flights['FULL_DATA'].map(str) +" "+ df_flights["SCHEDULED_DEPARTURE"]
df_flights['SCHEDULED_DEPARTURE_D_T'] = pd.to_datetime(df_flights['SCHEDULED_DEPARTURE_D_T'], format='mixed')

In [298]:
# df_flights['SCHEDULED_DEPARTURE'] =  df_flights['SCHEDULED_DEPARTURE'].apply(lambda x: f'{x//60:01d}:{x%60:02d}' if x < 60 else f'{x//100:01d}:00')

In [299]:
# df_flights['SCHEDULED_DEPARTURE']

In [300]:
#sum_my_column(df_flights, 'FULL_DATA', 'SCHEDULED_DEPARTURE', 8, 6)

In [301]:
#max(df_flights['SCHEDULED_DEPARTURE'])

In [302]:
#float_check('SCHEDULED_DEPARTURE')

In [303]:
#df_flights['SCHEDULED_DEPARTURE'] = df_flights['SCHEDULED_DEPARTURE'].astype(int)

In [304]:
#low = separate_time(df_flights, "SCHEDULED_DEPARTURE","<", 60 )

In [305]:
#top = separate_time(df_flights, "SCHEDULED_DEPARTURE",">", 60 )

In [306]:
#low['SCHEDULED_DEPARTURE'] = convert_time_before_1_AM(low['SCHEDULED_DEPARTURE'])

In [307]:
#top['SCHEDULED_DEPARTURE'] = convert_to_time(top['SCHEDULED_DEPARTURE'])

In [308]:
#df_flights = low.append(top)

In [309]:
# del top
# del low

In [310]:
#df_flights

In [311]:
#df_flights['SCHEDULED_DEPARTURE_DATA_AND_TIME'] = df_flights['FULL_DATA'].map(str) +" "+ df_flights["SCHEDULED_DEPARTURE"].map(str)

In [312]:
#df_flights['SCHEDULED_DEPARTURE_DATA_AND_TIME'] = pd.to_datetime(df_flights['SCHEDULED_DEPARTURE_DATA_AND_TIME'])

In [313]:
#df_flights['SCHEDULED_DEPARTURE_DATA_AND_TIME']

In [314]:
#df_flights['SCHEDULED_DEPARTURE_DATA_AND_TIME']

### DEPARTURE TIME*

In [315]:
df_flights['DEPARTURE_TIME']

0          2354.0
1             2.0
2            18.0
3            15.0
4            24.0
            ...
5819074    2355.0
5819075    2355.0
5819076    2350.0
5819077    2353.0
5819078      14.0
Name: DEPARTURE_TIME, Length: 5726566, dtype: float64

In [316]:
df_flights['DEPARTURE_TIME'].index

Index([      0,       1,       2,       3,       4,       5,       6,       7,
             8,       9,
       ...
       5819069, 5819070, 5819071, 5819072, 5819073, 5819074, 5819075, 5819076,
       5819077, 5819078],
      dtype='int64', length=5726566)

In [317]:
times = df_flights['DEPARTURE_TIME'].tolist()

In [318]:
df_flights['DEPARTURE_TIME'] = df_flights['DEPARTURE_TIME'].astype(int)

In [319]:
times = df_flights['DEPARTURE_TIME'].tolist()

times_str = [str(time) for time in times]

formatted_times = []

for time in times_str:
    time = time.zfill(4)  # Wypełnienie zerami z przodu, jeśli liczba jest krótsza niż 4 cyfry
    hour = time[:2]
    minute = time[2:]
    formatted_time = f'{hour}:{minute}'
    formatted_times.append(formatted_time)

formatted_times = list(map(lambda x: replace_time(x), formatted_times))

df_flights['DEPARTURE_TIME'] =  formatted_times
df_flights['DEPARTURE_TIME_D_T'] = df_flights['FULL_DATA'].map(str) +" "+ df_flights["DEPARTURE_TIME"]
df_flights['DEPARTURE_TIME_D_T'] = pd.to_datetime(df_flights['DEPARTURE_TIME_D_T'], format='mixed')

In [320]:
# df_flights['DEPARTURE_TIME'] = df_flights['DEPARTURE_TIME'].astype(int)

In [321]:
# df_flights['DEPARTURE_TIME'] =  df_flights['DEPARTURE_TIME'].apply(lambda x: f'{x//60:01d}:{x%60:02d}' if x < 60 else f'{x//100:01d}:00')

In [322]:
# df_flights['DEPARTURE TIME_DATA_AND_TIME'] = df_flights['FULL_DATA'].map(str) +" "+ df_flights["DEPARTURE_TIME"].map(str)

In [323]:
#  df_flights['DEPARTURE TIME_DATA_AND_TIME'] = pd.to_datetime(df_flights['SCHEDULED_DEPARTURE_DATA_AND_TIME'])

In [324]:
#sum_my_column(df_flights, 'FULL_DATA', 'DEPARTURE_TIME', 8, 6)

In [325]:
#float_check('DEPARTURE_TIME')

In [326]:
#df_flights['DEPARTURE_TIME'] = df_flights['DEPARTURE_TIME'].astype(int)

In [327]:
#low = separate_time(df_flights, "DEPARTURE_TIME","<", 60 )

In [328]:
#top = separate_time(df_flights, "DEPARTURE_TIME",">", 60 )

In [329]:
#low['DEPARTURE_TIME'] = convert_time_before_1_AM(low['DEPARTURE_TIME'])

In [330]:
#top['DEPARTURE_TIME'] = convert_to_time(top['DEPARTURE_TIME'])

In [331]:
#df_flights = low.append(top)

In [332]:
#df_flights

In [333]:
#df_flights['DEPARTURE_TIME_DATA_AND_TIME'] = df_flights['FULL_DATA'].astype(str) +" "+ df_flights["DEPARTURE_TIME"].astype(str)

In [334]:
#df_flights['DEPARTURE_TIME_DATA_AND_TIME'] = pd.to_datetime(df_flights['DEPARTURE_TIME_DATA_AND_TIME'])

In [335]:
#df_flights['DEPARTURE_TIME_DATA_AND_TIME']

In [336]:
#df_flights.info()

## ADD NEW DELAY

### DEPARTURE_TARGET

In [337]:
df_flights['EXTRA_DEPARTURE_DELAY'] = df_flights['DEPARTURE_TIME_D_T'] - df_flights['SCHEDULED_DEPARTURE_D_T']

In [338]:
df_flights['EXTRA_DEPARTURE_DELAY']

0           0 days 23:49:00
1         -1 days +23:52:00
2         -1 days +23:58:00
3         -1 days +23:55:00
4         -1 days +23:59:00
                 ...
5819074   -1 days +23:56:00
5819075   -1 days +23:56:00
5819076   -1 days +23:51:00
5819077   -1 days +23:54:00
5819078   -1 days +00:15:00
Name: EXTRA_DEPARTURE_DELAY, Length: 5726566, dtype: timedelta64[ns]

In [339]:
#lst = [str(item) if not pd.isnull(item) else None for item in df_flights['EXTRA_ARRIVAL_DELAY']]

In [340]:
#lst = df_flights['EXTRA_ARRIVAL_DELAY'].astype(str).where(pd.notnull(df_flights['EXTRA_ARRIVAL_DELAY']), None).tolist()

In [341]:
lst = df_flights['EXTRA_DEPARTURE_DELAY'].apply(lambda x: str(x) if not pd.isnull(x) else None).tolist()

In [342]:
target = [abs(int(list_item[:2])) for list_item in lst]

In [343]:
# test = df_flights.loc[:100, :]
# lst = []

# for items in test['EXTRA_DEPARTURE_DELAY']:
#   items = str(items)
#   lst.append(items)
  
# print(lst)

In [344]:
# target = []
# for list_items in lst:
#   list_item = list_items[:2]
#   list_item = int(list_item)
#   list_item = abs(list_item)
#   target.append(list_item)

# print(target)

In [345]:
df_flights['DEPARTURE_TARGET'] = target

In [346]:
df_flights['DEPARTURE_TARGET']

0          0
1          1
2          1
3          1
4          1
          ..
5819074    1
5819075    1
5819076    1
5819077    1
5819078    1
Name: DEPARTURE_TARGET, Length: 5726566, dtype: int64

In [347]:
# lst = []

# for items in df_flights['EXTRA_DEPARTURE_DELAY']:
#   items = str(items)
#   lst.append(items)

In [348]:
# target = []
# for list_items in lst:
#   list_item = list_items[:2]
#   list_item = int(list_item)
#   list_item = abs(list_item)
#   target.append(list_item)

##### 0 spozniony 1 na czas

In [349]:
lst[1][:2]

'-1'

In [350]:
lst[0].split()

['0', 'days', '23:49:00']

### WHEELS TARGET

Nie ma sensu ich od siebie odejmowac to inna dane
przylot odjac wylot

wheels on - planowany czas przylotu

In [351]:
# df_flights['WHEELS_TIME'] =  df_flights['WHEELS_ON_DATA_AND_TIME'] - df_flights['WHEELS_OFF_DATA_AND_TIME']

In [352]:
# df_flights['WHEELS_TIME']

In [353]:
# test = df_flights.loc[:100, :]

In [354]:
# lst = []

# for items in df_flights['WHEELS_TIME']:
#   items = str(items)
#   lst.append(items)

In [355]:
# target = []
# for list_items in lst:
#   list_item = list_items[:2]
#   list_item = int(list_item)
#   list_item = abs(list_item)
#   target.append(list_item)

In [356]:
# target

In [357]:
# lst = []
# for i in target:
#   if i == 0:
#     pass
#   else:
#     lst.append(i)

# print(len(lst))

### ARRIVAL_TARGET

In [358]:
df_flights['EXTRA_ARRIVAL_DELAY'] =  df_flights['SCHEDULED_ARRIVAL_D_T'] - df_flights['ARRIVAL_TIME_D_T']

In [359]:
df_flights['EXTRA_ARRIVAL_DELAY']

0           0 days 00:22:00
1           0 days 00:09:00
2         -1 days +23:55:00
3           0 days 00:09:00
4           0 days 00:21:00
                 ...
5819074     0 days 00:26:00
5819075     0 days 00:16:00
5819076     0 days 00:08:00
5819077     0 days 00:10:00
5819078   -1 days +23:58:00
Name: EXTRA_ARRIVAL_DELAY, Length: 5726566, dtype: timedelta64[ns]

In [360]:
lst = df_flights['EXTRA_ARRIVAL_DELAY'].apply(lambda x: str(x) if not pd.isnull(x) else None).tolist()

In [361]:
target = [abs(int(list_item[:2])) for list_item in lst]

In [362]:
# lst = []

# for items in df_flights['EXTRA_ARRIVAL_DELAY']:
#   items = str(items)
#   lst.append(items)

In [363]:
# target = []
# for list_items in lst:
#   list_item = list_items[:2]
#   list_item = int(list_item)
#   list_item = abs(list_item)
#   target.append(list_item)

In [364]:
df_flights['ARRIVAL_TARGET'] = target

In [365]:
df_flights['ARRIVAL_TARGET']

0          0
1          0
2          1
3          0
4          0
          ..
5819074    0
5819075    0
5819076    0
5819077    0
5819078    1
Name: ARRIVAL_TARGET, Length: 5726566, dtype: int64

In [366]:
# df_flights.info()

## UZUPELNIANIE NAN

In [367]:
df_flights.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5726566 entries, 0 to 5819078
Data columns (total 56 columns):
 #   Column                   Dtype
---  ------                   -----
 0   YEAR                     int64
 1   MONTH                    int64
 2   DAY                      int64
 3   DAY_OF_WEEK              int64
 4   ORIGIN_AIRPORT           object
 5   DESTINATION_AIRPORT      object
 6   SCHEDULED_DEPARTURE      object
 7   DEPARTURE_TIME           object
 8   DEPARTURE_DELAY          float64
 9   TAXI_OUT                 float64
 10  WHEELS_OFF               float64
 11  SCHEDULED_TIME           float64
 12  ELAPSED_TIME             float64
 13  AIR_TIME                 float64
 14  DISTANCE                 int32
 15  WHEELS_ON                float64
 16  TAXI_IN                  float64
 17  SCHEDULED_ARRIVAL        object
 18  ARRIVAL_TIME             object
 19  ARRIVAL_DELAY            float64
 20  DIVERTED                 int32
 21  CANCELLED                int32
 22  AIR_SYSTEM_DELAY         float64
 23  SECURITY_DELAY           float64
 24  AIRLINE_DELAY            float64
 25  LATE_AIRCRAFT_DELAY      float64
 26  WEATHER_DELAY            float64
 27  FULL_DATA                object
 28  Option_A                 bool
 29  Option_B                 bool
 30  Option_C                 bool
 31  Option_D                 bool
 32  Airlines_AA              bool
 33  Airlines_AS              bool
 34  Airlines_B6              bool
 35  Airlines_DL              bool
 36  Airlines_EV              bool
 37  Airlines_F9              bool
 38  Airlines_HA              bool
 39  Airlines_MQ              bool
 40  Airlines_NK              bool
 41  Airlines_OO              bool
 42  Airlines_UA              bool
 43  Airlines_US              bool
 44  Airlines_VX              bool
 45  Airlines_WN              bool
 46  AIR_ACRO_IN_NUM          object
 47  DEST_AIR_ACRO_IN_NUM     object
 48  ARRIVAL_TIME_D_T         datetime64[ns]
 49  SCHEDULED_ARRIVAL_D_T    datetime64[ns]
 50  SCHEDULED_DEPARTURE_D_T  datetime64[ns]
 51  DEPARTURE_TIME_D_T       datetime64[ns]
 52  EXTRA_DEPARTURE_DELAY    timedelta64[ns]
 53  DEPARTURE_TARGET         int64
 54  EXTRA_ARRIVAL_DELAY      timedelta64[ns]
 55  ARRIVAL_TARGET           int64
dtypes: bool(18), datetime64[ns](4), float64(14), int32(3), int64(6), object(9), timedelta64[ns](2)
memory usage: 1.7+ GB

In [368]:
df_flights['AIRLINE_DELAY'] = df_flights['AIRLINE_DELAY'].fillna(0)

In [369]:
df_flights['LATE_AIRCRAFT_DELAY'] = df_flights['LATE_AIRCRAFT_DELAY'].fillna(0)

In [370]:
df_flights['WEATHER_DELAY'] = df_flights['WEATHER_DELAY'].fillna(0)

In [371]:
df_flights['SECURITY_DELAY'] = df_flights['SECURITY_DELAY'].fillna(0)

In [372]:
df_flights['AIR_SYSTEM_DELAY'] = df_flights['AIR_SYSTEM_DELAY'].fillna(0)

In [373]:
df_flights['ARRIVAL_DELAY'] = df_flights['ARRIVAL_DELAY'].fillna(0)

In [374]:
type_int("AIRLINE_DELAY")

In [375]:
type_int("LATE_AIRCRAFT_DELAY")

In [376]:
type_int("WEATHER_DELAY")

In [377]:
type_int("WEATHER_DELAY")

In [378]:
type_int("AIR_SYSTEM_DELAY")

In [379]:
type_int("SECURITY_DELAY")

In [380]:
nan_mediane("TAXI_IN")

In [381]:
nan_mediane("TAXI_OUT")

In [382]:
nan_dominante("AIR_TIME")

In [383]:
nan_dominante("ELAPSED_TIME" )

In [384]:
nan_dominante("DEPARTURE_DELAY")

In [385]:
nan_avg("SCHEDULED_TIME")

In [386]:
type_int("TAXI_IN")

In [387]:
type_int("TAXI_OUT")

In [388]:
type_int("AIR_TIME")

In [389]:
type_int("ELAPSED_TIME")

In [390]:
type_int("SCHEDULED_TIME")

In [391]:
type_int("DEPARTURE_DELAY")

In [392]:
df_flights.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5726566 entries, 0 to 5819078
Data columns (total 56 columns):
 #   Column                   Dtype
---  ------                   -----
 0   YEAR                     int64
 1   MONTH                    int64
 2   DAY                      int64
 3   DAY_OF_WEEK              int64
 4   ORIGIN_AIRPORT           object
 5   DESTINATION_AIRPORT      object
 6   SCHEDULED_DEPARTURE      object
 7   DEPARTURE_TIME           object
 8   DEPARTURE_DELAY          int32
 9   TAXI_OUT                 int32
 10  WHEELS_OFF               float64
 11  SCHEDULED_TIME           int32
 12  ELAPSED_TIME             int32
 13  AIR_TIME                 int32
 14  DISTANCE                 int32
 15  WHEELS_ON                float64
 16  TAXI_IN                  int32
 17  SCHEDULED_ARRIVAL        object
 18  ARRIVAL_TIME             object
 19  ARRIVAL_DELAY            float64
 20  DIVERTED                 int32
 21  CANCELLED                int32
 22  AIR_SYSTEM_DELAY         int32
 23  SECURITY_DELAY           int32
 24  AIRLINE_DELAY            int32
 25  LATE_AIRCRAFT_DELAY      int32
 26  WEATHER_DELAY            int32
 27  FULL_DATA                object
 28  Option_A                 bool
 29  Option_B                 bool
 30  Option_C                 bool
 31  Option_D                 bool
 32  Airlines_AA              bool
 33  Airlines_AS              bool
 34  Airlines_B6              bool
 35  Airlines_DL              bool
 36  Airlines_EV              bool
 37  Airlines_F9              bool
 38  Airlines_HA              bool
 39  Airlines_MQ              bool
 40  Airlines_NK              bool
 41  Airlines_OO              bool
 42  Airlines_UA              bool
 43  Airlines_US              bool
 44  Airlines_VX              bool
 45  Airlines_WN              bool
 46  AIR_ACRO_IN_NUM          object
 47  DEST_AIR_ACRO_IN_NUM     object
 48  ARRIVAL_TIME_D_T         datetime64[ns]
 49  SCHEDULED_ARRIVAL_D_T    datetime64[ns]
 50  SCHEDULED_DEPARTURE_D_T  datetime64[ns]
 51  DEPARTURE_TIME_D_T       datetime64[ns]
 52  EXTRA_DEPARTURE_DELAY    timedelta64[ns]
 53  DEPARTURE_TARGET         int64
 54  EXTRA_ARRIVAL_DELAY      timedelta64[ns]
 55  ARRIVAL_TARGET           int64
dtypes: bool(18), datetime64[ns](4), float64(3), int32(14), int64(6), object(9), timedelta64[ns](2)
memory usage: 1.5+ GB

In [393]:
df_flights['AIR_ACRO_IN_NUM'] = df_flights['AIR_ACRO_IN_NUM'].astype(int)

In [394]:
df_flights['DEST_AIR_ACRO_IN_NUM'] = df_flights['DEST_AIR_ACRO_IN_NUM'].astype(int)

In [395]:
df_flights['ARRIVAL_DELAY'] = df_flights['ARRIVAL_DELAY'].astype(int)

In [463]:
df_flights.to_csv(r'C:\Users\hetko\Desktop\Nowy folder', index=False)

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\hetko\\Desktop\\Nowy folder'

In [396]:
df_flights.to_csv('flihgt_to_delete.csv', index=False)

In [457]:
import requests

url = 'http://localhost:8888/notebooks/loty_21_05%20(13).ipynb'
response = requests.get(url)

with open(r'C:\Users\hetko\Desktop\CV_firmy\flights_done.csv', 'wb') as file:
    file.write(response.content)

In [454]:
from IPython.display import FileLink

In [456]:
FileLink('flihgt_to_delete.csv')

C:\Users\hetko\Desktop\jupyter\flihgt_to_delete.csv

In [398]:
df_flights.dtypes

YEAR                                 int64
MONTH                                int64
DAY                                  int64
DAY_OF_WEEK                          int64
ORIGIN_AIRPORT                      object
DESTINATION_AIRPORT                 object
SCHEDULED_DEPARTURE                 object
DEPARTURE_TIME                      object
DEPARTURE_DELAY                      int32
TAXI_OUT                             int32
WHEELS_OFF                         float64
SCHEDULED_TIME                       int32
ELAPSED_TIME                         int32
AIR_TIME                             int32
DISTANCE                             int32
WHEELS_ON                          float64
TAXI_IN                              int32
SCHEDULED_ARRIVAL                   object
ARRIVAL_TIME                        object
ARRIVAL_DELAY                        int32
DIVERTED                             int32
CANCELLED                            int32
AIR_SYSTEM_DELAY                     int32
SECURITY_DELAY                       int32
AIRLINE_DELAY                        int32
LATE_AIRCRAFT_DELAY                  int32
WEATHER_DELAY                        int32
FULL_DATA                           object
Option_A                              bool
Option_B                              bool
Option_C                              bool
Option_D                              bool
Airlines_AA                           bool
Airlines_AS                           bool
Airlines_B6                           bool
Airlines_DL                           bool
Airlines_EV                           bool
Airlines_F9                           bool
Airlines_HA                           bool
Airlines_MQ                           bool
Airlines_NK                           bool
Airlines_OO                           bool
Airlines_UA                           bool
Airlines_US                           bool
Airlines_VX                           bool
Airlines_WN                           bool
AIR_ACRO_IN_NUM                      int32
DEST_AIR_ACRO_IN_NUM                 int32
ARRIVAL_TIME_D_T            datetime64[ns]
SCHEDULED_ARRIVAL_D_T       datetime64[ns]
SCHEDULED_DEPARTURE_D_T     datetime64[ns]
DEPARTURE_TIME_D_T          datetime64[ns]
EXTRA_DEPARTURE_DELAY      timedelta64[ns]
DEPARTURE_TARGET                     int64
EXTRA_ARRIVAL_DELAY        timedelta64[ns]
ARRIVAL_TARGET                       int64
dtype: object

In [399]:
# from google.colab import files
# df_flights.to_csv('df_flights_to_delete.csv', encoding = 'utf-8-sig') 
# files.download('df_flights_to_delete.csv')

In [400]:
# import zipfile

# # Skompresowanie pliku do formatu ZIP
# with zipfile.ZipFile('df_flights.zip', 'w', compression=zipfile.ZIP_DEFLATED) as zipf:
#     zipf.write('df_flights_to_delete.csv')

In [401]:
# files.download('df_flights_to_delete.zip')

In [402]:
# !wget -O flights_done https://colab.research.google.com/drive/1RERcJ3G29W1wQZEDa0Ng9I1O-zb-K7tD#scrollTo=nIgL5EVNjHpj

# USUWANIE NIEPOTRZEBNYCH KOLUMN

In [403]:
# df_flights.info()

In [404]:
# del_column('YEAR')

In [405]:
# del_column('MONTH')

In [406]:
# del_column('DAY')

In [407]:
# del_column('ORIGIN_AIRPORT')

In [408]:
# del_column('DESTINATION_AIRPORT')

In [409]:
# del_column('SCHEDULED_DEPARTURE')

In [410]:
# del_column('DEPARTURE_TIME')

In [411]:
# del_column('WHEELS_OFF')

In [412]:
# del_column('WHEELS_ON')

In [413]:
# df_flights.

In [414]:
# del_column('SCHEDULED_ARRIVAL')

In [415]:
# del_column('ARRIVAL_TIME')

In [416]:
# del_column('FULL_DATA')

In [417]:
# del_column('ARRIVAL_TIME_D_T')

In [418]:
# del_column('SCHEDULED_ARRIVAL_D_T ')

In [419]:
# del_column('SCHEDULED_DEPARTURE_D_T')

In [420]:
# del_column('DEPARTURE_TIME_1')

In [421]:
# del_column('DEPARTURE_TIME_D_T')

In [422]:
# del_column('EXTRA_DEPARTURE_DELAY')

In [423]:
# del_column('EXTRA_ARRIVAL_DELAY ')

# WORK WITH TIME

In [424]:
# df_flights_5 = df_flights_4[:]

In [425]:
# import pandas as pd

# data1 = {'Date': ['01-03-2019  12:29:15.732,7',
#                   '01.03.2019  12:29:15.732,7',
#                   '01.03.2019  12:29:15.732,7',
#                   '2015-03-18 17:00'], 
#         'Value': [1, 2, 3, 4]}

# df1 = pd.DataFrame(data1)

# df1['Date'] = pd.to_datetime(df1['Date'].str.replace(',', ''))

# print(df1)

In [426]:
# df_flights_4['SCHEDULED_DEPARTURE']

In [427]:
# import re
 
# # initializing number
# test_num = 100
 
# # printing original number
# print("The original number is : " + str(test_num))
 
# # Using re.sub()
# # Adding comma between numbers
# res = re.sub(r'(\d{2})(?=\d)', r'\1,', str(test_num)[::-1])[::-1]
 
# coma = res.replace(',', ':')
# # printing result
# print("The number after inserting commas : " + str(coma))
# #This code is contributed by Edula Vinay Kumar Reddy

In [428]:
# df_flights_4['SCHEDULED_DEPARTURE']

##### Proba filtracji

In [429]:
# for time in df_flights_4['SCHEDULED_DEPARTURE']:
#   #new_column = input('Podaj nazwe kolumny: ')
#   time_frame = []
#   if time < 100:   
#     time = str(time)
#     done_time  = ":".join(["00", time])
#     time_frame.append(time)

# print(time_frame)

In [430]:
# for  time in df_flights_4['SCHEDULED_DEPARTURE']:
#   #new_column = input('Podaj nazwe kolumny: ')
#   time_frame = []
#   id = []
#   #if time < 100:
#    # print(time)
#   if time[0] <= 60:
#     time_frame.append(time)
# print(time_frame)

In [431]:
# from itertools import zip_longest

# list_letter_b = []

# for x in zip_longest(df_flights_4['SCHEDULED_DEPARTURE'], fillvalue=''):
#     if x < 60:
#         list_letter_b.append(x)

In [432]:
#  if df_flights_5['filter'] = df_flights_5['SCHEDULED_DEPARTURE'] <= 61

#  df_flights_5['filter'].astype(object).replace({False: 'fail', True: 'pass'})

In [433]:
# if df_flights_5['SCHEDULED_DEPARTURE'] <= 61:
#   df_flights_5['test'] = df_flights_5['SCHEDULED_DEPARTURE']
# else:
#   df_flights_5['test'].astype(object).replace({False: 'fail', True: 'pass'})

##### Koniec proby filtracji

#### TIME BEFORE 1 AM

In [434]:
# df_flights_6_low = df_flights_5.query('SCHEDULED_DEPARTURE < 60')

In [435]:
# df_flights_6_low

In [436]:
# df_flights_6_low['SCHEDULED_DEPARTURE_WORK'] = convert_time_before_1_AM(df_flights_6_low['SCHEDULED_DEPARTURE'])

In [437]:
# df_flights_6_low['SCHEDULED_DEPARTURE_WORK']

#### TOP TIME AFTER 1 AM

In [438]:
# df_flights_6_top = df_flights_5.query('SCHEDULED_DEPARTURE > 60')

In [439]:
# df_flights_6_top

In [440]:
# df_flights_6_top['SCHEDULED_DEPARTURE'].iloc[1]

In [441]:
# len(convert_to_time(df_flights_6_top['SCHEDULED_DEPARTURE']))

In [442]:
# df_flights_6_top['SCHEDULED_DEPARTURE_WORK'] = convert_to_time(df_flights_6_top['SCHEDULED_DEPARTURE'])

In [443]:
# df_flights_6_top['SCHEDULED_DEPARTURE']

In [444]:
# df_flights_6_top['SCHEDULED_DEPARTURE_WORK']

#### CONCAT DF

In [445]:
# df_flights_8 = df_flights_6_low.append(df_flights_6_top)

In [446]:
# df_flights_8

In [447]:
# df_flights_8['SCHEDULED_DEPARTURE_WORK']

#### CONECT TIME AND DATE

In [448]:
# for col in df_flights_8.columns:
#     print(col)

In [449]:
# df_flights_8['DATA_WITH_TIME'] = df_flights_8['FULL_DATA'].astype(str) +" "+ df_flights_8["SCHEDULED_DEPARTURE_WORK"].astype(str)

In [450]:
# print(df_flights_8["DATA_WITH_TIME"] )

In [451]:
# first = count_nan_in_column(df_flights_4, 'DATA_WITH_TIME') 
# second = df_flights_4['DATA_WITH_TIME'].count()

# nan_per(first, second)

In [452]:
# df_flights_8['CONVERT_DATA_WITH_TIME'] = pd.to_datetime(df_flights_8['DATA_WITH_TIME'])

#### FIRST TABEL TO TARGET

In [453]:

# df_flights_8['CONVERT_DATA_WITH_TIME'].describe()